<footer class="footer">
  <div class="container justify-content-between">
    <div class="row">
      <div class="col-6 col-lg-4">
        <a href="mailto:ask@blogandtop.ru" class="footer__email" tabindex="-1">ask@blogandtop.ru</a>
        <div>
          <button class="btn btn-link btn_contact" type="button" data-toggle="modal" data-target="#contact_us_modal" tabindex="-1">Send us an email</button>
        </div>
        <div class="d-lg-none">
          <a href="https://www.instagram.com/blog_and_top/" target="_blank" class="instagram_link" tabindex="-1">
            <img src="/images/instagram_icon.png" alt="instagram" width="45px" tabindex="-1">
            <span>Instagram</span>
          </a>
        </div>
      </div>
      <div class="col-6 col-lg-3 offset-lg-1">
        <div class="footer__address">
          <div class="arrow"></div>
          Federation Tower "Vostok (East)", 12, Presnenskaya Naberezhnaya, Moscow-City, Moscow, Russia
        </div>
      </div>
      <div class="d-none d-lg-block col-md-3 text-md-right">
        <a href="https://www.instagram.com/blog_and_top/" target="_blank" class="instagram_link" tabindex="-1">
          <img src="/images/instagram_icon.png" alt="instagram" width="45px" tabindex="-1">
          <span>Instagram</span>
        </a>
      </div>
    </div>
  </div>
</footer>
