<div class="modal fade" id="contact_us_modal" tabindex="-1" role="dialog" aria-labelledby="contact_us_modal_label" aria-hidden="true">
  <button class="navbar-toggler active" type="button" data-dismiss="modal" tabindex="-1">
    <i></i><i></i><i></i>
  </button>
  <div class="modal-dialog container" role="document">
    <div class="modal-content">
      <form id="contact_form" action="/mailer.php">
      <div class="modal-header">
        <h3 class="section_title _splite" data-splitting>Write to us</h3>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject" tabindex="-1" name="subject" id="subject">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your name" tabindex="-1" required name="name" id="name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Your email" tabindex="-1" required name="email" id="email">
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" placeholder="Tell us about yourself" tabindex="-1" name="message" id="message"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <p class="show-success">
          Message sent successfully!
        </p>
        <div class="form-group hide-success">
          <button type="submit" class="btn btn-link" tabindex="-1">Send the email</button>
        </div>
        <div class="form-group hide-success">
          <button type="button" class="btn btn-link btn-secondary" data-clear-form="#contact_form" tabindex="-1">Clear the form</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>