@keyframes equalize {
  0% {
    transform: rotateX(60deg);
  }
  4% {
    transform: rotateX(50deg);
  }
  8% {
    transform: rotateX(40deg);
  }
  12% {
    transform: rotateX(40deg);
  }
  16% {
    transform: rotateX(20deg);
  }
  20% {
    transform: rotateX(30deg);
  }
  24% {
    transform: rotateX(40deg);
  }
  28% {
    transform: rotateX(10deg);
  }
  32% {
    transform: rotateX(40deg);
  }
  36% {
    transform: rotateX(60deg);
  }
  40% {
    transform: rotateX(20deg);
  }
  44% {
    transform: rotateX(40deg);
  }
  48% {
    transform: rotateX(70deg);
  }
  52% {
    transform: rotateX(30deg);
  }
  56% {
    transform: rotateX(10deg);
  }
  60% {
    transform: rotateX(30deg);
  }
  64% {
    transform: rotateX(50deg);
  }
  68% {
    transform: rotateX(60deg);
  }
  72% {
    transform: rotateX(70deg);
  }
  76% {
    transform: rotateX(80deg);
  }
  80% {
    transform: rotateX(70deg);
  }
  84% {
    transform: rotateX(60deg);
  }
  88% {
    transform: rotateX(50deg);
  }
  92% {
    transform: rotateX(60deg);
  }
  96% {
    transform: rotateX(70deg);
  }
  100% {
    transform: rotateX(60deg);
  }
}

@keyframes animate-char-1 {
  0% {
    transform: translatey(0px);
  }
  20% {
    transform: translatey(-40px);
  }
  40% {
    transform: translate(-10px, -30px);
  }
  60% {
    transform: translate(-5px, -45px);
  }
  60% {
    transform: translate(0px, -35px);
  }
  80% {
    transform: translate(2px, -23px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes animate-char-2 {
  0% {
    transform: translatey(0px);
  }
  20% {
    transform: translatey(40px);
  }
  40% {
    transform: translate(10px, 30px);
  }
  60% {
    transform: translate(5px, 45px);
  }
  60% {
    transform: translate(0px, 35px);
  }
  80% {
    transform: translate(2px, 23px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bg_infinite {
  0% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  30% {
    opacity: .4;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
    transform: translate3d(-1000px,0,0);
  }

  70% {
    opacity: 1;
  }

  75% {
    opacity: .9;
  }

  90% {
    opacity: .6;
    transform: translate3d(-1510px,0,0)
  }

  100% {
    //background-position: -1709px 0;
    opacity: 1;
    transform: translate3d(-1709px, 0,0);
  }
}


@keyframes animate-cross-1 {
  0% {
    transform: translate3d(0,rem(15px),0) rotate(45deg)
  }
  20% {
    transform: translate3d(rem(-2px),rem(15px),0) rotate(43deg)
  }
  40% {
    transform: translate3d(rem(-2px),rem(14px),0) rotate(46deg) scale(0.97);
  }
  60% {
    transform: translate3d(rem(0px),rem(15px),0) rotate(46deg) scale(1);
  }
  60% {
    transform: translate3d(rem(3px),rem(13px),0) rotate(41deg) scale(0.90);
  }
  80% {
    transform: translate3d(rem(1px),rem(15px),0) rotate(44deg) scale(1.03);
  }
  100% {
    transform: translate3d(0,rem(15px),0) rotate(45deg)scale(1);
  }
}

@keyframes animate-cross-2 {
  0% {
    transform: translate3d(0,rem(-5px),0) rotate(-45deg);
  }
  20% {
    transform: translate3d(rem(-2px),rem(-7px),0) rotate(-43deg)
  }
  40% {
    transform: translate3d(rem(2px),rem(-5px),0) rotate(-46deg) scale(0.97);
  }
  60% {
    transform: translate3d(rem(0px),rem(0px),0) rotate(-46deg) scale(1);
  }
  60% {
    transform: translate3d(rem(3px),rem(-5px),0) rotate(-41deg) scale(0.90);
  }
  80% {
    transform: translate3d(rem(1px),rem(-5px),0) rotate(-44deg) scale(1.03);
  }
  100% {
    transform: translate3d(0,rem(-5px),0) rotate(-45deg)scale(1);
  }
}