@font-face {
  font-family: 'Cera Pro';
  src: url('./../fonts/CeraPro-Bold.eot');
  src: url('./../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/CeraPro-Bold.woff') format('woff'),
  url('./../fonts/CeraPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: local('Cera Pro Regular'), local('Cera-Pro-Regular'),
  url('./../fonts/CeraPro-Regular.woff2') format('woff2'),
  url('./../fonts/CeraPro-Regular.woff') format('woff'),
  url('./../fonts/CeraPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: local('Cera Pro Medium'), local('Cera-Pro-Medium'),
  url('./../fonts/CeraPro-Medium.woff2') format('woff2'),
  url('./../fonts/CeraPro-Medium.woff') format('woff'),
  url('./../fonts/CeraPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: local('Cera Pro Black'), local('Cera-Pro-Black'),
  url('./../fonts/CeraPro-Black.woff2') format('woff2'),
  url('./../fonts/CeraPro-Black.woff') format('woff'),
  url('./../fonts/CeraPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NocturneSerif';
  src: local('NocturneSerif'), local('NocturneSerif-Regular'),
  url('./../fonts/NocturneSerif-Regular.otf') format('opentype'),
  url('./../fonts/NocturneSerif-Regular.ttf') format('truetype'),
  url('./../fonts/NocturneSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}