.footer {
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: rem(30px) 0 rem(50px);
  font-size: rem(24px);
  transform: translate3d(0, 100%, 0);
  transition: transform $transition;
  transition-delay: 0s;
  overflow: hidden;

  .btn-link {
    font-size: rem(24px);
    padding: 0 !important;
  }

  .arrow {
    transition-delay: 0s;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition, visibility $transition;
  }

  .fp-viewing-advertisers & {
    transform: translate3d(0, 0, 0);
    transition-delay: .6s;
    overflow: visible;

    .arrow {
      opacity: 1;
      visibility: visible;
      transition-delay: .6s;
    }
  }

  .row > div {
    margin-bottom: rem(30px);
  }

  @media (#{$max_tablets}) {
    font-size: 16px;

    .btn-link {
      font-size: 16px;
    }

    .instagram_link {
      margin-top: 20px;
      font-weight: 500;
      display: inline-block;

      img {
        width: 24px;
        margin-right: 14px;
      }
    }

    .row > div {
      margin-bottom: 0;
    }
  }

  @media (#{$max_phones--big}) {
    font-size: 12px;
    transform: none;
    overflow: visible;

    .btn-link {
      font-size: 10px;
      line-height: normal;
      height: auto;
    }

    .arrow {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media (#{$min_tablets}) {
 .en .footer {
   font-size: rem(20px);
 }
}

.footer_list {
  @include list-unstyled;
  font-weight: bold;
  font-size: rem(13px);
  line-height: normal;
  letter-spacing: 0.815455px;

  &__item {
    margin-bottom: rem(16px);
  }
}


.footer_inline_list {
  @include list-unstyled;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.357143px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: rem(10px);
  line-height: rem(12px);
  margin-left: -14px;

  a {
    padding: rem(8px 14px);

    &:hover {
      color: $primary;
    }
  }

  @media (#{$max_tablets}) {
    justify-content: center;
    white-space: nowrap;
    flex-wrap: wrap;

    li {
      margin-bottom: 30px;
    }
  }
}

.instagram_link {
  img, span {
    vertical-align: middle;
    display: inline-block;
  }
}