.btn-default,
.btn-icon {
  color: $text;
}

.btn {
  box-shadow: none !important;
  font-family: $font-family-base;
  height: rem(43px);
  padding: rem(15px 22px);
  font-size: rem(10px);
  font-weight: 900;
  line-height: rem(13px);
  border-radius: 6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #030623;
  border: 0;

  &:focus {
    outline: none !important;
  }
}

.btn-link {
  background-color: transparent;
  text-decoration: none !important;
  padding: 0;
  font-size: rem(16px);
  color: inherit;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  text-transform: uppercase;

  .icon {
    font-size: 16px;
  }

  .btn-text + .icon {
    margin-left: 5px;
  }

  &:hover {
    color: #FFB600;
  }

  @media (#{$max_phones--big}) {
  }
}


.btn-primary {
  background-color: $primary;
  color: #030623 !important;
  box-shadow: 4px 6px 16px rgba(129, 108, 0, 0.5);

  &:hover {
    background-color: lighten($primary, 3%);
    box-shadow: 4px 6px 16px rgba(129, 108, 0, 0.5);
  }

  &:active {
    background-color: darken($primary, 3%) !important;
    box-shadow: 4px 6px 16px rgba(129, 108, 0, 0.5) !important;
  }

  &[disabled] {
    background-color: #F3F3F3 !important;
    color: #979797 !important;
  }
}

.form-control {
  font-weight: normal;
  font-style: normal;
  font-family: $font-family-base;
  height: rem(80px);
  padding: rem(20px 0);
  font-size: rem(50px);
  line-height: normal;
  border: 0;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 0;
  color: #FFB600;
  background-color: transparent !important;
  letter-spacing: 0;

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: #FFB600;
    color: #FFB600;

    @include placeholder {
      color: #FFB600;
    }
  }

  @include placeholder {
    font-weight: 500;
    font-size: rem(20px);
    line-height: normal;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  @media (#{$max_tablets}) {
    font-size: rem(30px);
  }

  @media (#{$max_phones--big}) {
    line-height: 1.6;
    padding: 16px 0;
  }
}

textarea.form-control {
  resize: none;
  height: rem(110px);
  min-height: 0;
}

.form-control--error {
  @include placeholder {
    color: #EB3B47
  }
}

.form-group {
  margin-bottom: rem(20px);

  @media (#{$max_phones--big}) {
    margin-bottom: 8px;
  }
}

.control-label {
  font-size: rem(18px);
  line-height: rem(24px);
  color: #979797;

  @media (#{$max_phones--big}) {
    font-size: 13px;
  }
}

.btn-circle {
  border-radius: 100px;
  padding: rem(16px);
  line-height: normal;
  width: rem(54px);
  height: rem(54px);
  display: none;

  @media (#{$max_phones--big}) {
    width: rem(40px);
    height: rem(40px);
    padding: rem(8px);
  }
}

.btn-sm {
  padding-top: rem(10px);
  padding-bottom: rem(10px);
  font-size: rem(10px);
  height: auto;
  background: linear-gradient(0deg, #FFC60D, #FFC60D), #EBB023 !important;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2) !important;
  border-radius: 6px;
  letter-spacing: 0.03em;

  &:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25) !important;
  }

  &:active {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1) !important;
  }
}