.navbar {
  padding-top: rem(40px);
  padding-bottom: rem(36px);
  position: fixed;
  z-index: 91;
  top: 0;
  left: 0;
  width: 100%;

  .btn-primary {
    box-shadow: none;
  }

  @media (#{$max_tablets}) {
    padding: 7px 0;
  }

  @media (#{$max_phones}) {
    .container {
      max-width: 100%;
    }
  }
}

.navbar-brand {
  padding: 0;

  img {
    vertical-align: top;
  }

  svg {
    g {
      transition: fill $transition;
    }
  }

  .fp-viewing-bloggers &,
  [class^="fp-viewing-what_we_can"] &,
  [class*=" fp-viewing-what_we_can"] &,
  [class^="fp-viewing-cases"] &,
  [class*=" fp-viewing-cases"] & {
    svg g {
      fill: #000
    }
  }

  @media (#{$max_tablets}) {

  }
}

.navbar-toggler {
  width: rem(200px);
  height: rem(60px);
  padding: rem(18px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 101;
  border: 0;
  border-radius: 0;
  outline: none !important;
  background-color: $primary;
  appearance: none;
  transition: background-color $transition;

  i {
    display: block;
    position: absolute;
    width: 30px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: .275s;
    background-color: $white;
    top: rem(30px);

    &:first-child {
      top: rem(20px);
    }

    &:last-child {
      top: rem(40px);
      transition: transform .275s ease;
    }
  }

  &:not(.collapsed) {
    background-color: transparent !important;

    i {
      background-color: $primary !important;
      width: 70px;
      height: 10px;
      opacity: 0;
      transform: scale(0);

      &:first-child  {
        opacity: 1;
        transform: translate3d(0,rem(15px),0) rotate(45deg);
      }

      &:last-child {
        opacity: 1;
        transform: translate3d(0,rem(-5px),0) rotate(-45deg);
      }
    }
  }

  @media (#{$max_tablets}) {
    width: 110px;
  }

  @media (#{$max_phones}) {

  }
}

.nav-item {
  font-size: rem(20px);
  line-height: rem(20px);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  transition: none;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 15px, 0);

  .show & {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: all .4s;

    &:nth-child(1) {
      transition-delay: .15s;
    }
    &:nth-child(2) {
      transition-delay: .2s;
    }
    &:nth-child(3) {
      transition-delay: .25s;
    }
    &:nth-child(4) {
      transition-delay: .3s;
    }
    &:nth-child(5) {
      transition-delay: .35s;
    }
    &:nth-child(6) {
      transition-delay: .4s;
    }
    &:nth-child(7) {
      transition-delay: .45s;
    }
  }

  .nav-link {
    padding: rem(16px 20px);
  }
}

.nav-item-action {
  .nav-link {
    color: $primary  !important;

    &:hover {
      color: $secondary !important;
    }
  }
}

.navbar-dark {
  .navbar-nav {
    padding-right: 0;
    margin-right: -20px;

    .nav-link {
      color: $primary;
      transition: all .3s ease;

      &:hover, &.active, .active & {
        color: #000;
      }

      &.active {
        background-color: #000;
        color: $white;
      }
    }

    .nav-item {
      width: 240px;
      padding: rem(5px) 0;

      &.active .nav-link {
        background-color: #000;
        color: $white;
      }
    }
  }

  .navbar-text {
    color: $white;
  }
}

.nav-divider {
  height: rem(36px);
  border-left: 1px solid $border-color;
}

.navbar-text {
  position: fixed;
  padding: rem(0 30px);
  top: 0;
  left: 0;
  right: 0;
  height: rem(79px);
  font-size: rem(20px);
  font-weight: 500;
  color: $white;
  opacity: 1;
  text-align: left;
  text-transform: uppercase;
  background-color: #09080A;

  @media (#{$max_tablets}) {
    padding: 22px 30px;
  }

  @media (#{$max_phones}) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navbar-collapse {
  position: fixed;
  padding: 0;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $white;
  overflow: auto;
  height: 70% !important;
  height: 70vh !important;
  opacity: 0;
  display: block !important;
  visibility: hidden;
  transition: all .3s ease !important;
  transform: scale(0.4) translate3d(0, -50%, 0);
  transform-origin: 50% 0;
  will-change: transform;

  .nav-inner {
    padding: rem(79px 30px 20px);
    height: 100%;
  }

  .nav-divider {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid rgba(#BCC6D0, .4);
    margin: rem(30px) 0;
  }

  .lang_menu {
    font-size: 24px;
    letter-spacing: 0;
    color: #004CFF !important;
    text-transform: none;
    position: absolute;
    bottom: rem(48px);
    left: 0;
    right: 0;
    margin: 0 auto;

    a {
      color: inherit !important;
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0,0,0) scale(1);
  }

  @media (#{$max_phones}) {
    text-align: center;
    height: 90% !important;
    height: 90vh !important;

    .nav-inner {
      padding-top: 20vh;
      height: 100%;
      min-height: 580px;
      position: relative;
    }

    .navbar-nav {
      padding: 0;
    }

    .nav-item {
      padding: 10px 0;
    }

    .nav-link {
      padding: 10px 0;
    }
  }
}

.nav-inner {
  @media all and (min-width: 992px) {
    flex-grow: 1;
    align-items: center;
    display: flex !important;
    flex-basis: auto;
  }
}

.lang_menu {
  font-size: rem(16px);
  font-weight: bold;

  span {
    font-weight: normal;
  }

  &__link {
    &--active {
      font-weight: normal;
    }
  }

  .fp-viewing-bloggers &,
  [class^="fp-viewing-what_we_can"] &,
  [class*=" fp-viewing-what_we_can"] &,
  [class^="fp-viewing-cases"] &,
  [class*=" fp-viewing-cases"] & {
    color: #000;
  }
}