.modal-backdrop {
  background-color: #000;

  &.show {
    opacity: 1;
  }

  .btn-primary {
    font-weight: normal;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 26px;
  }
}

.modal {
  color: #fff;
}

.navbar-toggler:not(.collapsed) {
  i {
    &:first-child {
      animation-name: animate-cross-1;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 10s;
      animation-fill-mode: forwards;
    }
    &:last-child {
      animation-name: animate-cross-2;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 10s;
      animation-fill-mode: forwards;
    }
  }

  &:hover i {
    animation: none;
  }
}

.modal-header {
  border-bottom: 0;
  padding: 0;

  .section_title {
    position: static;
    transform: none;
    top: 0;
    left: 0;
    letter-spacing: rem(28px);
    font-weight: bold;
    font-size: rem(70px);
    line-height: 1;
    width: 100%;

    .word {
      display: inline;
    }

    .char {
      width: auto;
    }
  }

  @media (#{$max_tablets}) {
    .section_title {
      font-size: rem(50px);
      letter-spacing: rem(16px);
    }
  }

  @media (#{$max_phones--big}) {
    .section_title {
      font-size: 30px
    }
  }
}

.modal-content {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

.modal-dialog {
  margin-top: rem(130px);
  margin-top: 15vh;
  width: rem(1040px);
  max-width: 100%;

  @media (#{$max_tablets}) {
    margin-top: 100px;
  }
}

.modal-footer {
  border-top: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  display: block;
  margin-top: rem(60px);

  .btn-link {
    &:not(.btn-secondary) {
      font-weight: normal;
      font-size: rem(50px);
      height: auto;
      line-height: rem(40px);
    }
  }

  .btn-secondary {
    font-weight: 500;
    font-size: rem(24px);
    color: #F7B000;
    letter-spacing: 0;
    line-height: rem(26px);
    background-color: transparent !important;
  }

  @media (#{$max_tablets}) {
    margin-top: 25px;

    .btn-link {
      &:not(.btn-secondary) {
        font-size: rem(30px);
        line-height: rem(40px);
      }
    }
  }
}

.modal-body {
  padding: 0;
}