html {
  scroll-behavior: smooth;

  @media all and (max-height: 800px) {
    font-size: 14px;
  }

  @media (#{$max_phones--big}) {
    font-size: 16px;
  }
}

body {
  font-size: rem(24px);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  font-family: $font-family-base;
  color: $white-text;
  background-color: #000;
  position: relative;
  overflow: hidden;

  @include fontantialias(true);

  .navbar, .main {
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition, visibility $transition;
  }

  .footer {
    opacity: 0;
  }

  &.page-loaded {
    overflow: visible;

    .navbar, .main, .footer {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (#{$max_tablets}) {
    font-size: rem(20px);
  }

  @media (#{$max_phones--big}) {
    font-size: rem(16px);

    &.menu-opened {
      overflow: hidden;
    }
  }

  @media (#{$max_phones}) {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: $font-family-base;
  color: inherit;
}

h1, .h1 {
  font-size: rem(130px);
  font-weight: bold;
  line-height: 100%;
  margin-bottom: rem(180px);
  margin-bottom: 10vh;

  @media (#{$max_tablets--landscape}) {
    font-size: 80px;
  }

  @media (#{$max_tablets}) {
    font-size: 80px;
    line-height: 1.3;
    letter-spacing: 0;
    margin-bottom: 25px;
  }

  @media (#{$max_phones--big}) {
    font-size: 50px;
  }
}

h2, .h2 {
  font-size: rem(70px);
  line-height: rem(80px);
  margin-bottom: rem(20px);
  font-weight: bold;

  @media (#{$max_tablets}) {
    font-size: 40px;
    line-height: 1.2;
  }

  @media (#{$max_phones--big}) {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 24px;
    font-weight: 500;
  }
}

h3, .h3 {
  font-size: rem(50px);
  letter-spacing: 0;
  line-height: rem(50px);
  margin-bottom: rem(32px);
}

h4, .h4 {
  font-weight: 900;
  font-size: rem(16px);
  line-height: rem(20px);
  margin-bottom: rem(24px);
}

h5, .h5 {
  font-weight: bold;
  font-size: rem(10px);
  line-height: rem(12px);
  text-transform: uppercase;
  margin-bottom: rem(20px);

  @media (#{$max_phones--big}) {
  }
}

p, .p {
  margin-bottom: rem(25px);
  color: inherit;
  font-family: $font-family-alt;

  a {
    font-weight: 500;
  }
}

a {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.container {
  max-width: 1260px + 30px;
  position: relative;

  @media (#{$max_tablets}) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (#{$max_phones}) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.text-red {
  color: $red !important;
}

.text-green {
  color: $green !important;
}

.text-primary {
  color: #c601a4 !important;
}

.text-grey {
  color: #7D8499 !important;
}

.font-weight-light {
  font-weight: $font-weight-light;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.hint {
  font-size: rem(17px);
  margin-bottom: rem(20px);

  @media (#{$max_phones--big}) {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
  }
}

.row-small {
  margin-left: -10px;
  margin-right: -10px;

  > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.lead {
  font-size: rem(40px);
  font-family: $font-family-alt;
  letter-spacing: 0;
  line-height: 1.5;
  color: $white-text;

  @media (#{$max_tablets}) {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
  }

}

address {
  @extend p;
  margin-bottom: rem(24px) !important;
}

.scrollmagic-pin-spacer {
  display: block !important;

  @media (#{$max_phones--big}) {
    height: auto !important;
    min-height: 0 !important;
    display: none!important;
  }
}

.pull-right {
  float: right;
}

.text-small {
  font-size: rem(16px);
  opacity: .8;
  font-weight: 500;
  font-family: $font-family-base;
}

.font-weight-regular {
  font-weight: normal !important;
}

.img-fluid {
  pointer-events: none;
  user-select: none;
}


p, .hint {
  a:hover {
    color: #FFB600;
  }
}

.footer__email:hover {
  color: #FFB600;
}