.section {
  padding: rem(120px 0);
  position: relative;

  img {
    max-width: 100%;
  }

  p {
    max-width: 780px;
  }

  .btn-primary {
    min-width: rem(144px);
  }

  .container {
    height: 100%;

    .row {
      height: 100%;
    }
  }

  .col-12,
  .row {
    position: static;
  }

  &__slide {
    position: relative;
  }

  &--inverse {
    color: $black;
    background-color: $white;

    .lead {
      color: inherit;
    }

    .slider_counter__current {
      color: $black;
    }
  }

  @media (#{$max_tablets}) {
    padding: 90px 0;
  }

  @media (#{$max_phones--big}) {
    padding: 100px 0 80px;
  }
}

.section_slides {
  padding: 0 !important;

  .slide {
    padding: rem(120px 0);
  }
}

.slider_counter {
  position: absolute;
  top: rem(155px);
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: right;

  .container {
    height: auto;
  }

  &__group {
    font-size: rem(30px);
    font-weight: 900;
    color: $primary;
  }

  &__current {
    font-size: rem(100px);
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    color: $white;
    display: block;
  }

  &__total {
    padding-right: rem(15px);
  }

  @media (#{$max_phones--big}) {
    top: 65px;

    &__current {
      font-size: 50px;
      font-weight: normal;
    }

    &__group {
      font-size: 20px;
      line-height: 1;
    }

    &__total {
      padding-right: 5px;
    }
  }
}

@media all and (min-width: 768px) {
  .section_title {
    .char {
      opacity: 0;
      transform: translate3d(-40px, 0, 0);
      will-change: opacity, transform;
      transition: opacity .3s ease 0.3s, transform .3s ease 0.3s;
      transition-delay: calc(100ms * var(--char-index));
    }

    .show &,
    .active:not(.section_lead) & {
      .char {
        transform: translate3d(0,0,0);
        opacity: 1;
      }
    }
  }
}

.section_lead {
  p {
    margin-bottom: 0;
  }

  .slide {
    padding-bottom: rem(75px);
    overflow: hidden;
    pointer-events: all;

    p {
      transform: translate3d(0, 30px, 0);
      opacity: 0;
      will-change: opacity, transform;
      transition: opacity .5s ease 0.4s, transform .5s ease 0.4s;
    }

    .lead {
      transition-delay: .3s;
    }

    $slides: 5;
    @for $i from 0 to $slides {
      &:nth-child(#{$i + 1}) .section_title .word:first-child .char:nth-child(#{$i + 1}):after  {
        content: '';
        position: absolute;
        bottom: rem(1px);
        width: rem(85px);
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        border-bottom: rem(10px) solid #004cff;
      }
    }

    &.active {
      .section_title {
        .char {
          transform: translate3d(0,0,0);
          opacity: 1;
        }
      }

      .lead, p {
        transform: translate3d(0,0,0);
        opacity: 1;
      }
    }
  }

  &.slide_interactive {
    .scene {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  @media all and (max-width: 1390px) {
    .slide {
      &:last-child {
        .section_title {
          .char {
            width: rem(120px);
          }
        }
      }
    }
  }

  @media all and (max-width: 1130px) {
    .slide {
      &:last-child {
        .section_title {
          .char {
            width: rem(100px);
          }
        }
      }
    }
  }

  @media (#{$max_tablets}) {
    .slide {
      &:last-child {
        .section_title {
          .char {
            width: auto;
          }
        }
      }
    }
  }

  @media (#{$min_tablets--portrait}) {
    &.slide_interactive {
      .section_bg {
        transition: opacity $transition;
      }

      .char {
        animation-fill-mode: forwards;
      }

      .slide:hover {
        .section_bg {
          opacity: .4;
        }

        .char {
          &:nth-child(odd) {
            animation-name: animate-char-1;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 10s;
            animation-fill-mode: forwards;
          }

          &:nth-child(even) {
            animation-name: animate-char-2;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 9s;
            animation-fill-mode: forwards;
          }

          &:nth-child(3), &:nth-child(6) {
            animation-duration: 13s;
          }

          &:nth-child(2), &:nth-child(8) {
            animation-duration: 6s;
          }

          &:nth-child(7), &:nth-child(10) {
            animation-duration: 15s;
          }
        }
      }
    }
  }

  @media (#{$max_phones--big}) {
    .section_bg {
      opacity: .8;
    }

    .slide {
      padding-top: 22vh;
      padding-bottom: 55px;
    }
  }

  @media (#{$max_phones--small}) {
    .slide {
      .section_title .char:after {
        border-bottom-width: 8px !important;
      }

      &:nth-child(2) {
        .section_title {
          letter-spacing: 4px;

          .word {
            white-space: normal;
          }
        }
      }

      &:last-child {
        .section_title {
          letter-spacing: 0;

          .word {
            white-space: normal;
          }
        }
      }
    }
  }

  @media (#{$max_phones--tiny}) {
    .lead {
      font-size: 22px;
      line-height: 32px;
    }

    .text-small {
      font-size: 14px;
    }
  }
}

.section_bg {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  object-fit: cover;

  @media (#{$max_phones--big}) {
    background-position: center;
  }
}

.slides {
  height: 100%;
}

.section_title {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);

  .word {
    display: block;
    white-space: nowrap;
  }

  .char {
    width: rem(140px);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
  }

  @media (#{$max_tablets--landscape}) {
    .char {
      width: 100px;
    }
  }

  @media (#{$max_tablets}) {
    top: 0;
    left: 0;
    text-align: center;
    position: relative;
    transform: translate(0, 0);
    letter-spacing: 18px;

    .char {
      width: auto;
    }
  }

  @media (#{$max_phones}) {
    letter-spacing: 10px;
  }

  @media (#{$max_phones--small}) {
    letter-spacing: 10px;
  }

  @media (#{$max_phones--tiny}) {
    letter-spacing: 3px;
    font-size: 40px;

    .word {
      white-space: normal;
    }
  }
}

.en {
  @media all and (#{$min_tablets}) and (max-width: 1380px) {
    .section_title {
      font-size: rem(100px);

      .char {
        width: rem(100px);
      }
    }
  }

  @media all and (#{$max_phones}) {
    .section_title {
      font-size: 40px;
      letter-spacing: 7px;
    }
  }
}

.drag_handler {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 84px;
  height: 64px;
  bottom: rem(30px);
  z-index: 10;

  svg {
    width: 100%;
    opacity: .5;
    transition: opacity $transition;

    g {
      transition: fill $transition;
    }
  }

  &:hover svg {
    opacity: 1;
  }

  .fp-notransition & {
    svg {
      opacity: 1;

      g {
        fill: orange;
      }
    }
  }

  @media (#{$max_phones--big}) {
    width: 44px;
    height: 50px;
    bottom: 10px;
  }
}

.mouse {
  position: fixed;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: 1600;
  background-color: currentColor;
  -webkit-transition: width .2s ease,
  height .2s ease,
  padding .2s ease;
  transition: width .2s ease,
  height .2s ease,
  margin .2s ease,
  border .2s ease,
  background-color .2s ease,
  padding .2s ease;
  display: none;
  color: white !important;
  isolation: isolate;
  mix-blend-mode: difference;
  border: 1px solid #fff;

  &__wrap {
    position: absolute;
    pointer-events: none;
  }

  &--instant-change {
    transition: unset;
  }

  &--hover {
    background-color: transparent;
    width: 28px;
    height: 28px;
    margin: -4px 0 0 -4px;
  }
}

/*
.body--desktop {
  cursor: none;

  button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled),
  a, button {
    cursor: none;
  }
}
*/

[class^="fp-viewing-home"],
[class*=" fp-viewing-home"],
[class^="fp-viewing-what_we_can"],
[class*=" fp-viewing-what_we_can"],
[class^="fp-viewing-producing"],
[class*=" fp-viewing-producing"],
[class^="fp-viewing-cases"],
[class*=" fp-viewing-cases"]
{
  .mouse {
    opacity: 0 !important;
    visibility: hidden !important;
    transform: scale(0,0);
  }

  &.body--desktop {
    cursor: -webkit-grab;

    &:active {
      cursor: -webkit-grabbing;
    }
  }
}

.body--mobile {
  .mouse__wrap, .mouse {
    display: none !important;
  }
}

body:active {
  .mouse {
    width: 28px;
    height: 28px;
    margin: -4px 0 0 -4px;
    background-color: orange;
    border-color: orange;
  }
}

.fp-section {
  @media (#{$min_tablets}) {
    pointer-events: none;

    &:after {
      z-index: 20;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: transparent;
      content: '';
    }

    &.active {
      pointer-events: all;

      &:after {
        display: none;
      }
    }
  }
}

.section_contact {
  .hint {
    opacity: 0.6;
    font-size: rem(16px);
    letter-spacing: 0;
    line-height: rem(26px);
    text-transform: uppercase;
  }

  p {
    margin-left: auto;
    margin-right: auto;
  }

  &.fp-auto-height {
    height: 70vh !important;
  }

  @media (#{$max_tablets}) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (#{$max_phones--big}) {
    padding-top: 24px;
    padding-bottom: 24px;

    .lead {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 16px;
    }

    .hint {
      font-size: 14px;
    }
  }
}

@media (#{$min_phones--big}) {
  .en .section_contact .lead {
    font-size: rem(36px);
  }
}

.section_advertisers {
  padding-bottom: rem(270px);
}

.section_bloggers {
  .section_title {
    top: 50%;
  }

  @media all and (max-height: 991px) {
    .section_title {
      top: 28%;
    }
  }

  @media (#{$max_phones--big}) {
    padding-top: 140px;
    padding-bottom: 40px;
    height: auto !important;

    .section_title {
      top: 0;
    }
  }
}

.section_about {
  p {
    max-width: 940px;
  }

  @media (#{$max_phones--big}) {
    height: auto !important;
  }

  @media (#{$max_phones}) {
    h2 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 1em;
    }
  }
}

.section_clients {
  .section_title {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    margin-top: rem(80px);
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  @media all and (min-width: 992px) {
    .row {
      > div {
        height: 100%;
      }

      .row {
        height: 60%;
      }
    }
  }

  @media (#{$max_phones--big}) {
    height: auto !important;

    .section_title {
      margin-top: 0;
    }
  }
}

.section_we_can {
  position: relative;

  .slider_counter {
    top: rem(190px);

    &__group {
      opacity: .5;
    }
  }

  h3 {
    opacity: 0.8;
    margin-bottom: 0;
    font-weight: normal;
  }

  .section_bg__animate {
    display: none;
  }

  @media (#{$max_phones--big}) {
    height: auto !important;

    h2 {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 8px;
    }

    .slider_counter {
      position: relative;
      top: 0;
      left: 0;
      text-align: left;
    }

    .container, .row, .slide {
      height: auto;
    }

    .fp-slidesContainer {
      width: 100% !important;
      transform: none !important;
    }

    .slide {
      float: none !important;
      width: 100% !important;
      display: block;

      img {
        display: none;
      }

      p {
        font-family: $font-family-base;
        font-size: 16px;
        line-height: 24px;
        opacity: .8;
        font-weight: 500;
      }

      h3 {
        opacity: 0.8;
        font-weight: 900;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 0;
        padding: 13px 20px;
        margin-left: -20px;
        margin-right: -20px;
        border-bottom: 1px solid rgba(#000, .1);
      }
    }
  }

  @media (#{$min_phones--big}) {
    h2 {
      font-size: rem(100px);
      line-height: rem(90px);
      margin-bottom: rem(64px);
      font-weight: 500;
    }

    h3 {
      transition: opacity .6s, transform .6s;
      opacity: 0;
      will-change: transform, opacity;
    }

    .slides {
      position: absolute;
      top: 38%;
      left: 0;
      bottom: rem(60px);
      width: 100%;
      height: auto;
    }

    .slide {
      transform: translate3d(-40%, 0, 0);
      transition: transform .6s ease;
      will-change: transform;

      &:nth-child(2) {
        transform: translate3d(-10%, 0, 0);

      }

      &:first-child,
      &.active {
        margin-left: 0;
        transform: translate3d(0,0,0);
      }

      &:nth-child(even) {
        h3 {
          transform: translate3d(0, -50px, 0);
        }
      }

      &:nth-child(odd) {
        h3 {
          transform: translate3d(0, 50px, 0);
        }
      }

      &.active {
        h3 {
          transform: translate3d(0,0,0);
          opacity: 1;
        }
      }
    }

    .section_bg__animate {
      width: 1709px * 4;
      min-width: 100%;
      position: absolute;
      left: 0;
      background-repeat: repeat-x;
      background-position: 0 0;
      display: block;
      will-change: transform, background-position, opacity;

      &--1 {
        height: rem(594px);
        bottom: rem(45px);
      }

      &--2 {
        height: rem(169px);
        bottom: rem(250px);
        animation-duration: 15s !important;
        animation-delay: -.1s !important;
      }
    }

    &.active {
      .section_bg__animate {
        animation: bg_infinite 15s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
      }
    }
  }

  @media all and (min-width: 992px) {
    .row {
      margin-left: rem(-25px);
      margin-right: rem(-25px);

      > div {
        padding-left: rem(25px);
        padding-right: rem(25px);
      }
    }
  }
}

.en .section_we_can {
  @media (#{$min_phones--big}) and (#{$max_tablets}) {
    h2 {
      font-size: rem(80px);
      line-height: rem(70px);
    }
  }
}

.section_cases {
  overflow: hidden;

  .slides {
    position: absolute;
    top: 38%;
    left: 0;
    bottom: rem(60px);
    width: 100%;
    height: auto;
  }

  .section_title {
    top: 20%;
  }

  .section_img {
    &--1 {
      margin-top: rem(30px);
    }

    &--2 {
      margin-top: rem(-30px);
    }
  }

  .section_bg__animate {
    width: 100%;
    bottom: rem(44px);
    position: absolute;
    left: 0;
    right: 0;
    background-repeat: repeat-x;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.active {
    .section_bg__animate {
      .bar {
        animation: equalize 3s linear infinite;
        animation-fill-mode: forwards;
        transform-origin: 50% 50%;

        &:nth-child(even) {
          animation-delay: -0.2s;
        }

        &:nth-child(2n+1) {
          animation-delay: -0.4s;
        }

        &:nth-child(3n+1) {
          animation-delay: -0.1s;
        }
      }
    }
  }

  @media all and (min-width: 992px) {
    .row {
      margin-left: rem(-25px);
      margin-right: rem(-25px);

      > div {
        padding-left: rem(25px);
        padding-right: rem(25px);
      }
    }
  }

  @media (#{$max_tablets}) {
    .section_bg__animate {
      bottom: auto;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  @media (#{$max_phones--big}) {
    height: auto !important;

    .slider_counter__current {
      opacity: .5;
    }

    .slides {
      position: static;
      top: 0;
    }

    .container {
      height: auto;
    }

    .section_img {
      &--1,
      &--2 {
        margin-top: 0;
      }

      &--2 {
        margin-top: 60px;
      }
    }
  }
}

.section_producing {
  p {
    opacity: .8;
    max-width: 470px;
  }

  .slide_img {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    max-width: 100%;
  }

  .col-md-9, .row {
    position: static;
  }

  .container {
    position: static;
  }

  .slide {
    p {
      transform: translate3d(0, 30px, 0);
      opacity: 0;
      will-change: opacity, transform;
      transition: opacity .5s ease 0.3s, transform .5s ease 0.3s;
    }

    h2 {
      transform: translate3d(-30px, 0, 0);
      opacity: 0;
      will-change: opacity, transform;
      transition: opacity .5s ease 0.4s, transform .5s ease 0.4s;
    }

    &.active {
      p, h2, .slide_img {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }

    &:nth-child(1) {
      .slide_img {
        bottom: rem(30px);
        left: 28%;
      }
    }

    &:nth-child(2) {
      p {
        display: inline-block;
        max-width: 740px;
      }

      .slide_img {
        top: 17%;
        left: 0;
      }

      .container {
        padding-right: 200px;
      }
    }

    &:nth-child(3) {
      .slide_img {
        top: 30%;
        bottom: rem(130px);
        right: 0;
      }
    }
  }

  .section_bg__animate {
    width: 100%;
    height: 589px;
    bottom: rem(30px);
    position: absolute;
    left: 0;
    right: 0;
    background-repeat: repeat-x;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.active {
    .section_bg__animate {
      .bar {
        animation: equalize 3.5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
        animation-fill-mode: forwards;
        transform-origin: 50% 73%;

        &:nth-child(even) {
          animation-delay: -0.1s;
        }

        &:nth-child(2n+1) {
          animation-delay: -0.5s;
        }

        &:nth-child(3n+1) {
          animation-delay: -0.15s;
        }
      }
    }
  }

  @media (#{$max_tablets}) {
    .section_bg__animate {
      bottom: auto;
      top: 50%;
      transform: translate(0, -50%);
    }

    .slide {
      position: relative;

      &:nth-child(1) {
        .slide_img {
          bottom: 60px;
        }
      }

      &:nth-child(2) {
        .slide_img {
          top: auto;
          bottom: 105px;
          opacity: .8;
          left: 0;
        }

        .container {
          padding-right: 20px;
        }
      }

      &:nth-child(3) {
        .slide_img {
          top: auto;
          bottom: 80px;
          left: 60px;
        }
      }
    }
  }

  @media (#{$max_phones--big}) {
    .slide {
      padding-top: 130px;
    }

    h2 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 20px;
      font-family: $font-family-alt;
      width: 340px;
      max-width: 100%;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      opacity: .8;
      font-family: $font-family-base;
      font-weight: 500;
    }

    .container {
      position: static;
    }

    .slide_img {
      width: 270px;
    }
  }

  @media (#{$min_tablets}) {
    h2 {
      font-size: rem(100px);
      line-height: rem(90px);
      margin-bottom: rem(40px);
    }

    .slide {
      transform: translate3d(-15%, 0, 0);
      transition: transform .6s ease;
      will-change: transform;

      &:first-child,
      &.active {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.en .section_producing {
  @media (#{$min_tablets}) {
    h2 {
      font-size: rem(90px);
      line-height: rem(80px);
    }
  }
}

.section_img {
  > a {
    display: block;
    transition: transform $transition;

    &:hover {
      transform: scale(1.01);
    }
  }
}

label.error {
  position: absolute;
  top: 100%;
  left: 0;
  color: $red;
  font-size: rem(14px);
  margin-top: rem(4px);
}

.form-group {
  position: relative;
}

.show-success {
  display: none;
  text-align: center;
  font-family: "Cera Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.form-success {
  .show-success {
    display: block;
  }

  .hide-success {
    display: none;
  }
}

.arrow {
  width: rem(82px);
  height: rem(100px);
  background: url('/images/arrow.svg') no-repeat center;
  background-size: contain;
  position: absolute;
  z-index: 10;

  &--left {
    transform: rotate(90deg);
  }
  
  @media all and (max-width: 991px) {
    width: 40px;
    height: 60px;
  }

  @media all and (max-width: 420px) {
    width: 30px;
    height: 60px;
  }
}

.section_contact {
  .arrow {
    right: rem(20px);
    top: 50%;
    transform: translate(0, 40px) rotate(90deg);
  }

  @media all and (max-width: 420px) {
    right: 0;
  }
}

.footer__address {
  position: relative;

  .arrow {
    bottom: 100%;
    left: 50%;
    margin-bottom: rem(60px);
    transform: translate(-80%, 0);

    @media all and (max-width: 991px) {
      margin-bottom: 40px;
    }
  }
}