<section class="section section_about" data-anchor="about">
  <div class="section_bg" style="background-image: url(images/backgrounds/bg-img-6.jpg)"></div>
  <div class="container">
    <div class="row align-items-start align-items-md-center justify-content-center">
      <div class="col-md-10">
        <h2 class="text-uppercase font-weight-regular">Мы берем на себя абсолютно все технические и юридические вопросы</h2>
        <p>Стремясь глубже понять, как разные люди выражают себя, мы считаем, что история каждого человека нова и уникальна, определенно заслуживает того, чтобы ее запечатлели. У каждого должен быть холст, на котором он выражает себя, чтобы поддерживать свои страсти и мы с удовольствием предоставим "кисти и краску". Работая с блогерами, агенствами и брендами мы постоянно проявляем нашу страсть и энергию в создании визуального, информационного и рекламного контента для нашего клиента.</p>
      </div>
    </div>
  </div>
</section>