<section class="section section_advertisers" data-anchor="advertisers">
  <div class="section_bg" style="background-image: url(images/backgrounds/bg-img-8.jpg)"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="font-weight-regular text-uppercase">Рекламодателям</h2>
        <p>
          Пишите на <a href="mailto:reklama@blogandtop.ru"  tabindex="-1">reklama@blogandtop.ru</a> если вам нужно креативное продвижение с участием лучших лидеров мнений! Мы поможем вам создать уникальную рекламную кампанию с максимальным охватом целевой  аудитории!
        </p>
      </div>
    </div>
  </div>
</section>