<section class="section section--inverse section_bloggers" data-anchor="bloggers">
  <div class="section_bg d-lg-none" style="background-image: url(images/mobile//bg-img-7.jpg)"></div>
  <div class="section_bg d-none d-lg-block" style="background-image: url(images/backgrounds/bg-img-7.jpg)"></div>
  <div class="container">
    <div class="row align-items-start align-items-md-end">
      <div class="col-12">
        <h2 class="h1 section_title text-left text-md-center _splite" data-splitting>
          Блогерам
        </h2>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <p>Вам нужны хорошие заработки и сильный надежный партнер - это продюсерская компания Blog&Top! Мы работаем с начинающими и уже известными блогерами. Мы предлагаем креативные идеи по продвижению и коллаборации с ведущими брендами, готовые решения абсолютно любых технических и юридические вопросов в повседневной деятельности блогера. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>