<section class="section section_contact fp-auto-height" data-anchor="contact">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-md-8">
        <p class="lead">
          Будьте уверены, мы умелые слушатели.
          Так почему бы нам не пообщаться?
        </p>
        <div class="hint">Пишите нам! <a href="mailto:ask@blogandtop.ru" tabindex="-1">ask@blogandtop.ru</a> </div>
        <button class="btn btn-link btn_contact" type="button" tabindex="-1" data-toggle="modal" data-target="#contact_us_modal">отправьте нам сообщение</button>
      </div>
    </div>

    <div class="arrow arrow--left"></div>
  </div>
</section>