<section class="section section_slides section_producing" data-anchor="producing">
  <div class="section_bg">
    <div class="section_bg__animate">
      <svg width="1438px" height="389px" viewBox="239 86 1438 389" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <style type="text/css">
        .st0{opacity:0.3;}
        .st1{fill:#004CFF;}
      </style>
      <g id="Work" class="st0">
        <g id="Desktop-9" transform="translate(-1.000000, -476.000000)">
          <g id="Group-627" transform="translate(0.000000, 472.000000)">
            <g class="bar">
              <polygon id="Fill-4" class="st1" points="302.4,287.1 312.8,287.1 312.8,281.9 302.4,281.9 			"/>
              <polygon id="Fill-207" class="st1" points="1171.1,287.1 1181.5,287.1 1181.5,281.9 1171.1,281.9 			"/>
              <polygon id="Fill-208" class="st1" points="1171.1,271.1 1181.5,271.1 1181.5,265.9 1171.1,265.9 			"/>
              <polygon id="Fill-209" class="st1" points="1171.1,255.1 1181.5,255.1 1181.5,249.9 1171.1,249.9 			"/>
              <polygon id="Fill-1" class="st1" points="261,287.1 271.4,287.1 271.4,281.9 261,281.9 				"/>
              <polygon id="Fill-310" class="st1" points="261,287.1 271.4,287.1 271.4,281.9 261,281.9 				"/>
              <polygon id="Fill-314" class="st1" points="261,287.1 271.4,287.1 271.4,281.9 261,281.9 					"/>
              <polygon id="Fill-313" class="st1" points="240.3,287.1 250.7,287.1 250.7,281.9 240.3,281.9 					"/>
              <polygon id="Fill-315" class="st1" points="240.3,287.1 250.7,287.1 250.7,281.9 240.3,281.9 					"/>
            </g>
            <g class="bar">
              <polygon id="Fill-2" class="st1" points="281.7,287.1 292.1,287.1 292.1,281.9 281.7,281.9 				"/>
              <polygon id="Fill-3" class="st1" points="281.7,271.1 292.1,271.1 292.1,265.9 281.7,265.9 				"/>
              <polygon id="Fill-311" class="st1" points="281.7,287.1 292.1,287.1 292.1,281.9 281.7,281.9 				"/>
              <polygon id="Fill-312" class="st1" points="281.7,303 292.1,303 292.1,297.8 281.7,297.8 				"/>
              <polygon id="Fill-316" class="st1" points="302.4,287.1 312.8,287.1 312.8,281.9 302.4,281.9 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-5" class="st1" points="323.1,287.1 333.5,287.1 333.5,281.9 323.1,281.9 				"/>
              <polygon id="Fill-6" class="st1" points="323.1,271.1 333.5,271.1 333.5,265.9 323.1,265.9 				"/>
              <polygon id="Fill-7" class="st1" points="323.1,255.1 333.5,255.1 333.5,249.9 323.1,249.9 				"/>
              <polygon id="Fill-8" class="st1" points="323.1,239.2 333.5,239.2 333.5,234 323.1,234 				"/>
              <polygon id="Fill-317" class="st1" points="323.1,287.1 333.5,287.1 333.5,281.9 323.1,281.9 				"/>
              <polygon id="Fill-318" class="st1" points="323.1,303 333.5,303 333.5,297.8 323.1,297.8 				"/>
              <polygon id="Fill-319" class="st1" points="323.1,319 333.5,319 333.5,313.8 323.1,313.8 				"/>
              <polygon id="Fill-320" class="st1" points="323.1,335 333.5,335 333.5,329.8 323.1,329.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-9" class="st1" points="343.8,287.1 354.2,287.1 354.2,281.9 343.8,281.9 				"/>
              <polygon id="Fill-10" class="st1" points="343.8,271.1 354.2,271.1 354.2,265.9 343.8,265.9 				"/>
              <polygon id="Fill-321" class="st1" points="343.8,287.1 354.2,287.1 354.2,281.9 343.8,281.9 				"/>
              <polygon id="Fill-322" class="st1" points="343.8,303 354.2,303 354.2,297.8 343.8,297.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-11" class="st1" points="364.5,287.1 374.9,287.1 374.9,281.9 364.5,281.9 				"/>
              <polygon id="Fill-12" class="st1" points="364.5,271.1 374.9,271.1 374.9,265.9 364.5,265.9 				"/>
              <polygon id="Fill-13" class="st1" points="364.5,255.1 374.9,255.1 374.9,249.9 364.5,249.9 				"/>
              <polygon id="Fill-14" class="st1" points="364.5,239.2 374.9,239.2 374.9,234 364.5,234 				"/>
              <polygon id="Fill-15" class="st1" points="364.5,223.2 374.9,223.2 374.9,218 364.5,218 				"/>
              <polygon id="Fill-16" class="st1" points="364.5,207.2 374.9,207.2 374.9,202 364.5,202 				"/>
              <polygon id="Fill-323" class="st1" points="364.5,287.1 374.9,287.1 374.9,281.9 364.5,281.9 				"/>
              <polygon id="Fill-324" class="st1" points="364.5,303 374.9,303 374.9,297.8 364.5,297.8 				"/>
              <polygon id="Fill-325" class="st1" points="364.5,319 374.9,319 374.9,313.8 364.5,313.8 				"/>
              <polygon id="Fill-326" class="st1" points="364.5,335 374.9,335 374.9,329.8 364.5,329.8 				"/>
              <polygon id="Fill-327" class="st1" points="364.5,350.9 374.9,350.9 374.9,345.8 364.5,345.8 				"/>
              <polygon id="Fill-328" class="st1" points="364.5,366.9 374.9,366.9 374.9,361.7 364.5,361.7 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-17" class="st1" points="385.2,287.1 395.5,287.1 395.5,281.9 385.2,281.9 				"/>
              <polygon id="Fill-18" class="st1" points="385.2,271.1 395.5,271.1 395.5,265.9 385.2,265.9 				"/>
              <polygon id="Fill-19" class="st1" points="385.2,255.1 395.5,255.1 395.5,249.9 385.2,249.9 				"/>
              <polygon id="Fill-20" class="st1" points="385.2,239.2 395.5,239.2 395.5,234 385.2,234 				"/>
              <polygon id="Fill-21" class="st1" points="385.2,223.2 395.5,223.2 395.5,218 385.2,218 				"/>
              <polygon id="Fill-22" class="st1" points="385.2,207.2 395.5,207.2 395.5,202 385.2,202 				"/>
              <polygon id="Fill-23" class="st1" points="385.2,191.3 395.5,191.3 395.5,186.1 385.2,186.1 				"/>
              <polygon id="Fill-24" class="st1" points="385.2,175.3 395.5,175.3 395.5,170.1 385.2,170.1 				"/>
              <polygon id="Fill-329" class="st1" points="385.2,287.1 395.5,287.1 395.5,281.9 385.2,281.9 				"/>
              <polygon id="Fill-330" class="st1" points="385.2,303 395.5,303 395.5,297.8 385.2,297.8 				"/>
              <polygon id="Fill-331" class="st1" points="385.2,319 395.5,319 395.5,313.8 385.2,313.8 				"/>
              <polygon id="Fill-332" class="st1" points="385.2,335 395.5,335 395.5,329.8 385.2,329.8 				"/>
              <polygon id="Fill-333" class="st1" points="385.2,350.9 395.5,350.9 395.5,345.8 385.2,345.8 				"/>
              <polygon id="Fill-334" class="st1" points="385.2,366.9 395.5,366.9 395.5,361.7 385.2,361.7 				"/>
              <polygon id="Fill-335" class="st1" points="385.2,382.9 395.5,382.9 395.5,377.7 385.2,377.7 				"/>
              <polygon id="Fill-336" class="st1" points="385.2,398.9 395.5,398.9 395.5,393.7 385.2,393.7 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-25" class="st1" points="405.9,287.1 416.2,287.1 416.2,281.9 405.9,281.9 				"/>
              <polygon id="Fill-26" class="st1" points="405.9,271.1 416.2,271.1 416.2,265.9 405.9,265.9 				"/>
              <polygon id="Fill-27" class="st1" points="405.9,255.1 416.2,255.1 416.2,249.9 405.9,249.9 				"/>
              <polygon id="Fill-28" class="st1" points="405.9,239.2 416.2,239.2 416.2,234 405.9,234 				"/>
              <polygon id="Fill-29" class="st1" points="405.9,223.2 416.2,223.2 416.2,218 405.9,218 				"/>
              <polygon id="Fill-337" class="st1" points="405.9,287.1 416.2,287.1 416.2,281.9 405.9,281.9 				"/>
              <polygon id="Fill-338" class="st1" points="405.9,303 416.2,303 416.2,297.8 405.9,297.8 				"/>
              <polygon id="Fill-339" class="st1" points="405.9,319 416.2,319 416.2,313.8 405.9,313.8 				"/>
              <polygon id="Fill-340" class="st1" points="405.9,335 416.2,335 416.2,329.8 405.9,329.8 				"/>
              <polygon id="Fill-341" class="st1" points="405.9,350.9 416.2,350.9 416.2,345.8 405.9,345.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-30" class="st1" points="426.5,287.1 436.9,287.1 436.9,281.9 426.5,281.9 				"/>
              <polygon id="Fill-31" class="st1" points="426.5,271.1 436.9,271.1 436.9,265.9 426.5,265.9 				"/>
              <polygon id="Fill-32" class="st1" points="426.5,255.1 436.9,255.1 436.9,249.9 426.5,249.9 				"/>
              <polygon id="Fill-342" class="st1" points="426.5,287.1 436.9,287.1 436.9,281.9 426.5,281.9 				"/>
              <polygon id="Fill-343" class="st1" points="426.5,303 436.9,303 436.9,297.8 426.5,297.8 				"/>
              <polygon id="Fill-344" class="st1" points="426.5,319 436.9,319 436.9,313.8 426.5,313.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-33" class="st1" points="447.2,287.1 457.6,287.1 457.6,281.9 447.2,281.9 				"/>
              <polygon id="Fill-34" class="st1" points="447.2,271.1 457.6,271.1 457.6,265.9 447.2,265.9 				"/>
              <polygon id="Fill-35" class="st1" points="447.2,255.1 457.6,255.1 457.6,249.9 447.2,249.9 				"/>
              <polygon id="Fill-36" class="st1" points="447.2,239.2 457.6,239.2 457.6,234 447.2,234 				"/>
              <polygon id="Fill-37" class="st1" points="447.2,223.2 457.6,223.2 457.6,218 447.2,218 				"/>
              <polygon id="Fill-38" class="st1" points="447.2,207.2 457.6,207.2 457.6,202 447.2,202 				"/>
              <polygon id="Fill-39" class="st1" points="447.2,191.3 457.6,191.3 457.6,186.1 447.2,186.1 				"/>
              <polygon id="Fill-345" class="st1" points="447.2,287.1 457.6,287.1 457.6,281.9 447.2,281.9 				"/>
              <polygon id="Fill-346" class="st1" points="447.2,303 457.6,303 457.6,297.8 447.2,297.8 				"/>
              <polygon id="Fill-347" class="st1" points="447.2,319 457.6,319 457.6,313.8 447.2,313.8 				"/>
              <polygon id="Fill-348" class="st1" points="447.2,335 457.6,335 457.6,329.8 447.2,329.8 				"/>
              <polygon id="Fill-349" class="st1" points="447.2,350.9 457.6,350.9 457.6,345.8 447.2,345.8 				"/>
              <polygon id="Fill-350" class="st1" points="447.2,366.9 457.6,366.9 457.6,361.7 447.2,361.7 				"/>
              <polygon id="Fill-351" class="st1" points="447.2,382.9 457.6,382.9 457.6,377.7 447.2,377.7 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-40" class="st1" points="467.9,287.1 478.3,287.1 478.3,281.9 467.9,281.9 				"/>
              <polygon id="Fill-41" class="st1" points="467.9,271.1 478.3,271.1 478.3,265.9 467.9,265.9 				"/>
              <polygon id="Fill-42" class="st1" points="467.9,255.1 478.3,255.1 478.3,249.9 467.9,249.9 				"/>
              <polygon id="Fill-43" class="st1" points="467.9,239.2 478.3,239.2 478.3,234 467.9,234 				"/>
              <polygon id="Fill-352" class="st1" points="467.9,287.1 478.3,287.1 478.3,281.9 467.9,281.9 				"/>
              <polygon id="Fill-353" class="st1" points="467.9,303 478.3,303 478.3,297.8 467.9,297.8 				"/>
              <polygon id="Fill-354" class="st1" points="467.9,319 478.3,319 478.3,313.8 467.9,313.8 				"/>
              <polygon id="Fill-355" class="st1" points="467.9,335 478.3,335 478.3,329.8 467.9,329.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-44" class="st1" points="488.6,287.1 498.9,287.1 498.9,281.9 488.6,281.9 				"/>
              <polygon id="Fill-45" class="st1" points="488.6,271.1 498.9,271.1 498.9,265.9 488.6,265.9 				"/>
              <polygon id="Fill-356" class="st1" points="488.6,287.1 498.9,287.1 498.9,281.9 488.6,281.9 				"/>
              <polygon id="Fill-357" class="st1" points="488.6,303 498.9,303 498.9,297.8 488.6,297.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-46" class="st1" points="509.3,287.1 519.6,287.1 519.6,281.9 509.3,281.9 				"/>
              <polygon id="Fill-47" class="st1" points="509.3,271.1 519.6,271.1 519.6,265.9 509.3,265.9 				"/>
              <polygon id="Fill-48" class="st1" points="509.3,255.1 519.6,255.1 519.6,249.9 509.3,249.9 				"/>
              <polygon id="Fill-49" class="st1" points="509.3,239.2 519.6,239.2 519.6,234 509.3,234 				"/>
              <polygon id="Fill-358" class="st1" points="509.3,287.1 519.6,287.1 519.6,281.9 509.3,281.9 				"/>
              <polygon id="Fill-359" class="st1" points="509.3,303 519.6,303 519.6,297.8 509.3,297.8 				"/>
              <polygon id="Fill-360" class="st1" points="509.3,319 519.6,319 519.6,313.8 509.3,313.8 				"/>
              <polygon id="Fill-361" class="st1" points="509.3,335 519.6,335 519.6,329.8 509.3,329.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-50" class="st1" points="530,287.1 540.3,287.1 540.3,281.9 530,281.9 				"/>
              <polygon id="Fill-51" class="st1" points="530,271.1 540.3,271.1 540.3,265.9 530,265.9 				"/>
              <polygon id="Fill-52" class="st1" points="530,255.1 540.3,255.1 540.3,249.9 530,249.9 				"/>
              <polygon id="Fill-53" class="st1" points="530,239.2 540.3,239.2 540.3,234 530,234 				"/>
              <polygon id="Fill-54" class="st1" points="530,223.2 540.3,223.2 540.3,218 530,218 				"/>
              <polygon id="Fill-55" class="st1" points="530,207.2 540.3,207.2 540.3,202 530,202 				"/>
              <polygon id="Fill-56" class="st1" points="530,191.3 540.3,191.3 540.3,186.1 530,186.1 				"/>
              <polygon id="Fill-362" class="st1" points="530,287.1 540.3,287.1 540.3,281.9 530,281.9 				"/>
              <polygon id="Fill-363" class="st1" points="530,303 540.3,303 540.3,297.8 530,297.8 				"/>
              <polygon id="Fill-364" class="st1" points="530,319 540.3,319 540.3,313.8 530,313.8 				"/>
              <polygon id="Fill-365" class="st1" points="530,335 540.3,335 540.3,329.8 530,329.8 				"/>
              <polygon id="Fill-366" class="st1" points="530,350.9 540.3,350.9 540.3,345.8 530,345.8 				"/>
              <polygon id="Fill-367" class="st1" points="530,366.9 540.3,366.9 540.3,361.7 530,361.7 				"/>
              <polygon id="Fill-368" class="st1" points="530,382.9 540.3,382.9 540.3,377.7 530,377.7 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-57" class="st1" points="550.6,287.1 561,287.1 561,281.9 550.6,281.9 				"/>
              <polygon id="Fill-58" class="st1" points="550.6,271.1 561,271.1 561,265.9 550.6,265.9 				"/>
              <polygon id="Fill-59" class="st1" points="550.6,255.1 561,255.1 561,249.9 550.6,249.9 				"/>
              <polygon id="Fill-60" class="st1" points="550.6,239.2 561,239.2 561,234 550.6,234 				"/>
              <polygon id="Fill-61" class="st1" points="550.6,223.2 561,223.2 561,218 550.6,218 				"/>
              <polygon id="Fill-369" class="st1" points="550.6,287.1 561,287.1 561,281.9 550.6,281.9 				"/>
              <polygon id="Fill-370" class="st1" points="550.6,303 561,303 561,297.8 550.6,297.8 				"/>
              <polygon id="Fill-371" class="st1" points="550.6,319 561,319 561,313.8 550.6,313.8 				"/>
              <polygon id="Fill-372" class="st1" points="550.6,335 561,335 561,329.8 550.6,329.8 				"/>
              <polygon id="Fill-373" class="st1" points="550.6,350.9 561,350.9 561,345.8 550.6,345.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-62" class="st1" points="571.3,287.1 581.7,287.1 581.7,281.9 571.3,281.9 				"/>
              <polygon id="Fill-63" class="st1" points="571.3,271.1 581.7,271.1 581.7,265.9 571.3,265.9 				"/>
              <polygon id="Fill-374" class="st1" points="571.3,287.1 581.7,287.1 581.7,281.9 571.3,281.9 				"/>
              <polygon id="Fill-375" class="st1" points="571.3,303 581.7,303 581.7,297.8 571.3,297.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-64" class="st1" points="592,287.1 602.4,287.1 602.4,281.9 592,281.9 				"/>
              <polygon id="Fill-65" class="st1" points="592,271.1 602.4,271.1 602.4,265.9 592,265.9 				"/>
              <polygon id="Fill-66" class="st1" points="592,255.1 602.4,255.1 602.4,249.9 592,249.9 				"/>
              <polygon id="Fill-376" class="st1" points="592,287.1 602.4,287.1 602.4,281.9 592,281.9 				"/>
              <polygon id="Fill-377" class="st1" points="592,303 602.4,303 602.4,297.8 592,297.8 				"/>
              <polygon id="Fill-378" class="st1" points="592,319 602.4,319 602.4,313.8 592,313.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-67" class="st1" points="612.7,287.1 623,287.1 623,281.9 612.7,281.9 				"/>
              <polygon id="Fill-68" class="st1" points="612.7,271.1 623,271.1 623,265.9 612.7,265.9 				"/>
              <polygon id="Fill-69" class="st1" points="612.7,255.1 623,255.1 623,249.9 612.7,249.9 				"/>
              <polygon id="Fill-70" class="st1" points="612.7,239.2 623,239.2 623,234 612.7,234 				"/>
              <polygon id="Fill-71" class="st1" points="612.7,223.2 623,223.2 623,218 612.7,218 				"/>
              <polygon id="Fill-379" class="st1" points="612.7,287.1 623,287.1 623,281.9 612.7,281.9 				"/>
              <polygon id="Fill-380" class="st1" points="612.7,303 623,303 623,297.8 612.7,297.8 				"/>
              <polygon id="Fill-381" class="st1" points="612.7,319 623,319 623,313.8 612.7,313.8 				"/>
              <polygon id="Fill-382" class="st1" points="612.7,335 623,335 623,329.8 612.7,329.8 				"/>
              <polygon id="Fill-383" class="st1" points="612.7,350.9 623,350.9 623,345.8 612.7,345.8 				"/>
              <g class="bar">
                <polygon id="Fill-72" class="st1" points="633.4,287.1 643.7,287.1 643.7,281.9 633.4,281.9 					"/>
                <polygon id="Fill-384" class="st1" points="633.4,287.1 643.7,287.1 643.7,281.9 633.4,281.9 					"/>
              </g>
            </g>
            <g class="bar">
              <polygon id="Fill-73" class="st1" points="654,287.1 664.4,287.1 664.4,281.9 654,281.9 				"/>
              <polygon id="Fill-74" class="st1" points="654,271.1 664.4,271.1 664.4,265.9 654,265.9 				"/>
              <polygon id="Fill-75" class="st1" points="654,255.1 664.4,255.1 664.4,249.9 654,249.9 				"/>
              <polygon id="Fill-385" class="st1" points="654,287.1 664.4,287.1 664.4,281.9 654,281.9 				"/>
              <polygon id="Fill-386" class="st1" points="654,303 664.4,303 664.4,297.8 654,297.8 				"/>
              <polygon id="Fill-387" class="st1" points="654,319 664.4,319 664.4,313.8 654,313.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-76" class="st1" points="674.7,287.1 685.1,287.1 685.1,281.9 674.7,281.9 				"/>
              <polygon id="Fill-77" class="st1" points="674.7,271.1 685.1,271.1 685.1,265.9 674.7,265.9 				"/>
              <polygon id="Fill-78" class="st1" points="674.7,255.1 685.1,255.1 685.1,249.9 674.7,249.9 				"/>
              <polygon id="Fill-79" class="st1" points="674.7,239.2 685.1,239.2 685.1,234 674.7,234 				"/>
              <polygon id="Fill-80" class="st1" points="674.7,223.2 685.1,223.2 685.1,218 674.7,218 				"/>
              <polygon id="Fill-388" class="st1" points="674.7,287.1 685.1,287.1 685.1,281.9 674.7,281.9 				"/>
              <polygon id="Fill-389" class="st1" points="674.7,303 685.1,303 685.1,297.8 674.7,297.8 				"/>
              <polygon id="Fill-390" class="st1" points="674.7,319 685.1,319 685.1,313.8 674.7,313.8 				"/>
              <polygon id="Fill-391" class="st1" points="674.7,335 685.1,335 685.1,329.8 674.7,329.8 				"/>
              <polygon id="Fill-392" class="st1" points="674.7,350.9 685.1,350.9 685.1,345.8 674.7,345.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-81" class="st1" points="695.4,287.1 705.8,287.1 705.8,281.9 695.4,281.9 				"/>
              <polygon id="Fill-82" class="st1" points="695.4,271.1 705.8,271.1 705.8,265.9 695.4,265.9 				"/>
              <polygon id="Fill-83" class="st1" points="695.4,255.1 705.8,255.1 705.8,249.9 695.4,249.9 				"/>
              <polygon id="Fill-84" class="st1" points="695.4,239.2 705.8,239.2 705.8,234 695.4,234 				"/>
              <polygon id="Fill-85" class="st1" points="695.4,223.2 705.8,223.2 705.8,218 695.4,218 				"/>
              <polygon id="Fill-86" class="st1" points="695.4,207.2 705.8,207.2 705.8,202 695.4,202 				"/>
              <polygon id="Fill-87" class="st1" points="695.4,191.3 705.8,191.3 705.8,186.1 695.4,186.1 				"/>
              <polygon id="Fill-88" class="st1" points="695.4,175.3 705.8,175.3 705.8,170.1 695.4,170.1 				"/>
              <polygon id="Fill-89" class="st1" points="695.4,159.3 705.8,159.3 705.8,154.1 695.4,154.1 				"/>
              <polygon id="Fill-393" class="st1" points="695.4,287.1 705.8,287.1 705.8,281.9 695.4,281.9 				"/>
              <polygon id="Fill-394" class="st1" points="695.4,303 705.8,303 705.8,297.8 695.4,297.8 				"/>
              <polygon id="Fill-395" class="st1" points="695.4,319 705.8,319 705.8,313.8 695.4,313.8 				"/>
              <polygon id="Fill-396" class="st1" points="695.4,335 705.8,335 705.8,329.8 695.4,329.8 				"/>
              <polygon id="Fill-397" class="st1" points="695.4,350.9 705.8,350.9 705.8,345.8 695.4,345.8 				"/>
              <polygon id="Fill-398" class="st1" points="695.4,366.9 705.8,366.9 705.8,361.7 695.4,361.7 				"/>
              <polygon id="Fill-399" class="st1" points="695.4,382.9 705.8,382.9 705.8,377.7 695.4,377.7 				"/>
              <polygon id="Fill-400" class="st1" points="695.4,398.9 705.8,398.9 705.8,393.7 695.4,393.7 				"/>
              <polygon id="Fill-401" class="st1" points="695.4,414.8 705.8,414.8 705.8,409.6 695.4,409.6 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-90" class="st1" points="716.1,287.1 726.5,287.1 726.5,281.9 716.1,281.9 				"/>
              <polygon id="Fill-91" class="st1" points="716.1,271.1 726.5,271.1 726.5,265.9 716.1,265.9 				"/>
              <polygon id="Fill-92" class="st1" points="716.1,255.1 726.5,255.1 726.5,249.9 716.1,249.9 				"/>
              <polygon id="Fill-93" class="st1" points="716.1,239.2 726.5,239.2 726.5,234 716.1,234 				"/>
              <polygon id="Fill-94" class="st1" points="716.1,223.2 726.5,223.2 726.5,218 716.1,218 				"/>
              <polygon id="Fill-95" class="st1" points="716.1,207.2 726.5,207.2 726.5,202 716.1,202 				"/>
              <polygon id="Fill-96" class="st1" points="716.1,191.3 726.5,191.3 726.5,186.1 716.1,186.1 				"/>
              <polygon id="Fill-402" class="st1" points="716.1,287.1 726.5,287.1 726.5,281.9 716.1,281.9 				"/>
              <polygon id="Fill-403" class="st1" points="716.1,303 726.5,303 726.5,297.8 716.1,297.8 				"/>
              <polygon id="Fill-404" class="st1" points="716.1,319 726.5,319 726.5,313.8 716.1,313.8 				"/>
              <polygon id="Fill-405" class="st1" points="716.1,335 726.5,335 726.5,329.8 716.1,329.8 				"/>
              <polygon id="Fill-406" class="st1" points="716.1,350.9 726.5,350.9 726.5,345.8 716.1,345.8 				"/>
              <polygon id="Fill-407" class="st1" points="716.1,366.9 726.5,366.9 726.5,361.7 716.1,361.7 				"/>
              <polygon id="Fill-408" class="st1" points="716.1,382.9 726.5,382.9 726.5,377.7 716.1,377.7 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-97" class="st1" points="736.8,287.1 747.1,287.1 747.1,281.9 736.8,281.9 				"/>
              <polygon id="Fill-98" class="st1" points="736.8,271.1 747.1,271.1 747.1,265.9 736.8,265.9 				"/>
              <polygon id="Fill-99" class="st1" points="736.8,255.1 747.1,255.1 747.1,249.9 736.8,249.9 				"/>
              <polygon id="Fill-100" class="st1" points="736.8,239.2 747.1,239.2 747.1,234 736.8,234 				"/>
              <polygon id="Fill-409" class="st1" points="736.8,287.1 747.1,287.1 747.1,281.9 736.8,281.9 				"/>
              <polygon id="Fill-410" class="st1" points="736.8,303 747.1,303 747.1,297.8 736.8,297.8 				"/>
              <polygon id="Fill-411" class="st1" points="736.8,319 747.1,319 747.1,313.8 736.8,313.8 				"/>
              <polygon id="Fill-412" class="st1" points="736.8,335 747.1,335 747.1,329.8 736.8,329.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-101" class="st1" points="757.5,287.1 767.8,287.1 767.8,281.9 757.5,281.9 				"/>
              <polygon id="Fill-102" class="st1" points="757.5,271.1 767.8,271.1 767.8,265.9 757.5,265.9 				"/>
              <polygon id="Fill-413" class="st1" points="757.5,287.1 767.8,287.1 767.8,281.9 757.5,281.9 				"/>
              <polygon id="Fill-414" class="st1" points="757.5,303 767.8,303 767.8,297.8 757.5,297.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-103" class="st1" points="778.2,287.1 788.5,287.1 788.5,281.9 778.2,281.9 				"/>
              <polygon id="Fill-104" class="st1" points="778.2,271.1 788.5,271.1 788.5,265.9 778.2,265.9 				"/>
              <polygon id="Fill-105" class="st1" points="778.2,255.1 788.5,255.1 788.5,249.9 778.2,249.9 				"/>
              <polygon id="Fill-415" class="st1" points="778.2,287.1 788.5,287.1 788.5,281.9 778.2,281.9 				"/>
              <polygon id="Fill-416" class="st1" points="778.2,303 788.5,303 788.5,297.8 778.2,297.8 				"/>
              <polygon id="Fill-417" class="st1" points="778.2,319 788.5,319 788.5,313.8 778.2,313.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-106" class="st1" points="798.8,287.1 809.2,287.1 809.2,281.9 798.8,281.9 				"/>
              <polygon id="Fill-107" class="st1" points="798.8,271.1 809.2,271.1 809.2,265.9 798.8,265.9 				"/>
              <polygon id="Fill-108" class="st1" points="798.8,255.1 809.2,255.1 809.2,249.9 798.8,249.9 				"/>
              <polygon id="Fill-109" class="st1" points="798.8,239.2 809.2,239.2 809.2,234 798.8,234 				"/>
              <polygon id="Fill-110" class="st1" points="798.8,223.2 809.2,223.2 809.2,218 798.8,218 				"/>
              <polygon id="Fill-418" class="st1" points="798.8,287.1 809.2,287.1 809.2,281.9 798.8,281.9 				"/>
              <polygon id="Fill-419" class="st1" points="798.8,303 809.2,303 809.2,297.8 798.8,297.8 				"/>
              <polygon id="Fill-420" class="st1" points="798.8,319 809.2,319 809.2,313.8 798.8,313.8 				"/>
              <polygon id="Fill-421" class="st1" points="798.8,335 809.2,335 809.2,329.8 798.8,329.8 				"/>
              <polygon id="Fill-422" class="st1" points="798.8,350.9 809.2,350.9 809.2,345.8 798.8,345.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-111" class="st1" points="819.5,287.1 829.9,287.1 829.9,281.9 819.5,281.9 				"/>
              <polygon id="Fill-112" class="st1" points="819.5,271.1 829.9,271.1 829.9,265.9 819.5,265.9 				"/>
              <polygon id="Fill-113" class="st1" points="819.5,255.1 829.9,255.1 829.9,249.9 819.5,249.9 				"/>
              <polygon id="Fill-114" class="st1" points="819.5,239.2 829.9,239.2 829.9,234 819.5,234 				"/>
              <polygon id="Fill-115" class="st1" points="819.5,223.2 829.9,223.2 829.9,218 819.5,218 				"/>
              <polygon id="Fill-116" class="st1" points="819.5,207.2 829.9,207.2 829.9,202 819.5,202 				"/>
              <polygon id="Fill-117" class="st1" points="819.5,191.3 829.9,191.3 829.9,186.1 819.5,186.1 				"/>
              <polygon id="Fill-118" class="st1" points="819.5,175.3 829.9,175.3 829.9,170.1 819.5,170.1 				"/>
              <polygon id="Fill-423" class="st1" points="819.5,287.1 829.9,287.1 829.9,281.9 819.5,281.9 				"/>
              <polygon id="Fill-424" class="st1" points="819.5,303 829.9,303 829.9,297.8 819.5,297.8 				"/>
              <polygon id="Fill-425" class="st1" points="819.5,319 829.9,319 829.9,313.8 819.5,313.8 				"/>
              <polygon id="Fill-426" class="st1" points="819.5,335 829.9,335 829.9,329.8 819.5,329.8 				"/>
              <polygon id="Fill-427" class="st1" points="819.5,350.9 829.9,350.9 829.9,345.8 819.5,345.8 				"/>
              <polygon id="Fill-428" class="st1" points="819.5,366.9 829.9,366.9 829.9,361.7 819.5,361.7 				"/>
              <polygon id="Fill-429" class="st1" points="819.5,382.9 829.9,382.9 829.9,377.7 819.5,377.7 				"/>
              <polygon id="Fill-430" class="st1" points="819.5,398.9 829.9,398.9 829.9,393.7 819.5,393.7 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-119" class="st1" points="840.2,287.1 850.5,287.1 850.5,281.9 840.2,281.9 				"/>
              <polygon id="Fill-120" class="st1" points="840.2,271.1 850.5,271.1 850.5,265.9 840.2,265.9 				"/>
              <polygon id="Fill-121" class="st1" points="840.2,255.1 850.5,255.1 850.5,249.9 840.2,249.9 				"/>
              <polygon id="Fill-122" class="st1" points="840.2,239.2 850.5,239.2 850.5,234 840.2,234 				"/>
              <polygon id="Fill-123" class="st1" points="840.2,223.2 850.5,223.2 850.5,218 840.2,218 				"/>
              <polygon id="Fill-124" class="st1" points="840.2,207.2 850.5,207.2 850.5,202 840.2,202 				"/>
              <polygon id="Fill-431" class="st1" points="840.2,287.1 850.5,287.1 850.5,281.9 840.2,281.9 				"/>
              <polygon id="Fill-432" class="st1" points="840.2,303 850.5,303 850.5,297.8 840.2,297.8 				"/>
              <polygon id="Fill-433" class="st1" points="840.2,319 850.5,319 850.5,313.8 840.2,313.8 				"/>
              <polygon id="Fill-434" class="st1" points="840.2,335 850.5,335 850.5,329.8 840.2,329.8 				"/>
              <polygon id="Fill-435" class="st1" points="840.2,350.9 850.5,350.9 850.5,345.8 840.2,345.8 				"/>
              <polygon id="Fill-436" class="st1" points="840.2,366.9 850.5,366.9 850.5,361.7 840.2,361.7 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-125" class="st1" points="860.9,287.1 871.2,287.1 871.2,281.9 860.9,281.9 				"/>
              <polygon id="Fill-126" class="st1" points="860.9,271.1 871.2,271.1 871.2,265.9 860.9,265.9 				"/>
              <polygon id="Fill-127" class="st1" points="860.9,255.1 871.2,255.1 871.2,249.9 860.9,249.9 				"/>
              <polygon id="Fill-128" class="st1" points="860.9,239.2 871.2,239.2 871.2,234 860.9,234 				"/>
              <polygon id="Fill-437" class="st1" points="860.9,287.1 871.2,287.1 871.2,281.9 860.9,281.9 				"/>
              <polygon id="Fill-438" class="st1" points="860.9,303 871.2,303 871.2,297.8 860.9,297.8 				"/>
              <polygon id="Fill-439" class="st1" points="860.9,319 871.2,319 871.2,313.8 860.9,313.8 				"/>
              <polygon id="Fill-440" class="st1" points="860.9,335 871.2,335 871.2,329.8 860.9,329.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-129" class="st1" points="881.6,287.1 891.9,287.1 891.9,281.9 881.6,281.9 				"/>
              <polygon id="Fill-130" class="st1" points="881.6,271.1 891.9,271.1 891.9,265.9 881.6,265.9 				"/>
              <polygon id="Fill-131" class="st1" points="881.6,255.1 891.9,255.1 891.9,249.9 881.6,249.9 				"/>
              <polygon id="Fill-132" class="st1" points="881.6,239.2 891.9,239.2 891.9,234 881.6,234 				"/>
              <polygon id="Fill-133" class="st1" points="881.6,223.2 891.9,223.2 891.9,218 881.6,218 				"/>
              <polygon id="Fill-134" class="st1" points="881.6,207.2 891.9,207.2 891.9,202 881.6,202 				"/>
              <polygon id="Fill-135" class="st1" points="881.6,191.3 891.9,191.3 891.9,186.1 881.6,186.1 				"/>
              <polygon id="Fill-156" class="st1" points="881.6,175.3 891.9,175.3 891.9,170.1 881.6,170.1 				"/>
              <polygon id="Fill-441" class="st1" points="881.6,287.1 891.9,287.1 891.9,281.9 881.6,281.9 				"/>
              <polygon id="Fill-442" class="st1" points="881.6,303 891.9,303 891.9,297.8 881.6,297.8 				"/>
              <polygon id="Fill-443" class="st1" points="881.6,319 891.9,319 891.9,313.8 881.6,313.8 				"/>
              <polygon id="Fill-444" class="st1" points="881.6,335 891.9,335 891.9,329.8 881.6,329.8 				"/>
              <polygon id="Fill-445" class="st1" points="881.6,350.9 891.9,350.9 891.9,345.8 881.6,345.8 				"/>
              <polygon id="Fill-446" class="st1" points="881.6,366.9 891.9,366.9 891.9,361.7 881.6,361.7 				"/>
              <polygon id="Fill-447" class="st1" points="881.6,382.9 891.9,382.9 891.9,377.7 881.6,377.7 				"/>
              <polygon id="Fill-468" class="st1" points="881.6,398.9 891.9,398.9 891.9,393.7 881.6,393.7 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-136" class="st1" points="902.2,287.1 912.6,287.1 912.6,281.9 902.2,281.9 				"/>
              <polygon id="Fill-137" class="st1" points="902.2,271.1 912.6,271.1 912.6,265.9 902.2,265.9 				"/>
              <polygon id="Fill-138" class="st1" points="902.2,255.1 912.6,255.1 912.6,249.9 902.2,249.9 				"/>
              <polygon id="Fill-139" class="st1" points="902.2,239.2 912.6,239.2 912.6,234 902.2,234 				"/>
              <polygon id="Fill-140" class="st1" points="902.2,223.2 912.6,223.2 912.6,218 902.2,218 				"/>
              <polygon id="Fill-141" class="st1" points="902.2,207.2 912.6,207.2 912.6,202 902.2,202 				"/>
              <polygon id="Fill-142" class="st1" points="902.2,191.3 912.6,191.3 912.6,186.1 902.2,186.1 				"/>
              <polygon id="Fill-143" class="st1" points="902.2,175.3 912.6,175.3 912.6,170.1 902.2,170.1 				"/>
              <polygon id="Fill-144" class="st1" points="902.2,159.3 912.6,159.3 912.6,154.1 902.2,154.1 				"/>
              <polygon id="Fill-145" class="st1" points="902.2,143.3 912.6,143.3 912.6,138.2 902.2,138.2 				"/>
              <polygon id="Fill-146" class="st1" points="902.2,127.4 912.6,127.4 912.6,122.2 902.2,122.2 				"/>
              <polygon id="Fill-147" class="st1" points="902.2,111.4 912.6,111.4 912.6,106.2 902.2,106.2 				"/>
              <polygon id="Fill-157" class="st1" points="902.2,95.5 912.6,95.5 912.6,90.3 902.2,90.3 				"/>
              <polygon id="Fill-448" class="st1" points="902.2,287.1 912.6,287.1 912.6,281.9 902.2,281.9 				"/>
              <polygon id="Fill-449" class="st1" points="902.2,303 912.6,303 912.6,297.8 902.2,297.8 				"/>
              <polygon id="Fill-450" class="st1" points="902.2,319 912.6,319 912.6,313.8 902.2,313.8 				"/>
              <polygon id="Fill-451" class="st1" points="902.2,335 912.6,335 912.6,329.8 902.2,329.8 				"/>
              <polygon id="Fill-452" class="st1" points="902.2,350.9 912.6,350.9 912.6,345.8 902.2,345.8 				"/>
              <polygon id="Fill-453" class="st1" points="902.2,366.9 912.6,366.9 912.6,361.7 902.2,361.7 				"/>
              <polygon id="Fill-454" class="st1" points="902.2,382.9 912.6,382.9 912.6,377.7 902.2,377.7 				"/>
              <polygon id="Fill-455" class="st1" points="902.2,398.9 912.6,398.9 912.6,393.7 902.2,393.7 				"/>
              <polygon id="Fill-456" class="st1" points="902.2,414.8 912.6,414.8 912.6,409.6 902.2,409.6 				"/>
              <polygon id="Fill-457" class="st1" points="902.2,430.8 912.6,430.8 912.6,425.6 902.2,425.6 				"/>
              <polygon id="Fill-458" class="st1" points="902.2,446.8 912.6,446.8 912.6,441.6 902.2,441.6 				"/>
              <polygon id="Fill-459" class="st1" points="902.2,462.7 912.6,462.7 912.6,457.5 902.2,457.5 				"/>
              <polygon id="Fill-469" class="st1" points="902.2,478.7 912.6,478.7 912.6,473.5 902.2,473.5 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-148" class="st1" points="922.9,287.1 933.3,287.1 933.3,281.9 922.9,281.9 				"/>
              <polygon id="Fill-149" class="st1" points="922.9,271.1 933.3,271.1 933.3,265.9 922.9,265.9 				"/>
              <polygon id="Fill-150" class="st1" points="922.9,255.1 933.3,255.1 933.3,249.9 922.9,249.9 				"/>
              <polygon id="Fill-151" class="st1" points="922.9,239.2 933.3,239.2 933.3,234 922.9,234 				"/>
              <polygon id="Fill-152" class="st1" points="922.9,223.2 933.3,223.2 933.3,218 922.9,218 				"/>
              <polygon id="Fill-153" class="st1" points="922.9,207.2 933.3,207.2 933.3,202 922.9,202 				"/>
              <polygon id="Fill-154" class="st1" points="922.9,191.3 933.3,191.3 933.3,186.1 922.9,186.1 				"/>
              <polygon id="Fill-155" class="st1" points="922.9,175.3 933.3,175.3 933.3,170.1 922.9,170.1 				"/>
              <polygon id="Fill-158" class="st1" points="922.9,159.3 933.3,159.3 933.3,154.1 922.9,154.1 				"/>
              <polygon id="Fill-159" class="st1" points="922.9,143.3 933.3,143.3 933.3,138.2 922.9,138.2 				"/>
              <polygon id="Fill-460" class="st1" points="922.9,287.1 933.3,287.1 933.3,281.9 922.9,281.9 				"/>
              <polygon id="Fill-461" class="st1" points="922.9,303 933.3,303 933.3,297.8 922.9,297.8 				"/>
              <polygon id="Fill-462" class="st1" points="922.9,319 933.3,319 933.3,313.8 922.9,313.8 				"/>
              <polygon id="Fill-463" class="st1" points="922.9,335 933.3,335 933.3,329.8 922.9,329.8 				"/>
              <polygon id="Fill-464" class="st1" points="922.9,350.9 933.3,350.9 933.3,345.8 922.9,345.8 				"/>
              <polygon id="Fill-465" class="st1" points="922.9,366.9 933.3,366.9 933.3,361.7 922.9,361.7 				"/>
              <polygon id="Fill-466" class="st1" points="922.9,382.9 933.3,382.9 933.3,377.7 922.9,377.7 				"/>
              <polygon id="Fill-467" class="st1" points="922.9,398.9 933.3,398.9 933.3,393.7 922.9,393.7 				"/>
              <polygon id="Fill-470" class="st1" points="922.9,414.8 933.3,414.8 933.3,409.6 922.9,409.6 				"/>
              <polygon id="Fill-471" class="st1" points="922.9,430.8 933.3,430.8 933.3,425.6 922.9,425.6 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-160" class="st1" points="943.6,287.1 954,287.1 954,281.9 943.6,281.9 				"/>
              <polygon id="Fill-161" class="st1" points="943.6,271.1 954,271.1 954,265.9 943.6,265.9 				"/>
              <polygon id="Fill-162" class="st1" points="943.6,255.1 954,255.1 954,249.9 943.6,249.9 				"/>
              <polygon id="Fill-163" class="st1" points="943.6,239.2 954,239.2 954,234 943.6,234 				"/>
              <polygon id="Fill-164" class="st1" points="943.6,223.2 954,223.2 954,218 943.6,218 				"/>
              <polygon id="Fill-472" class="st1" points="943.6,287.1 954,287.1 954,281.9 943.6,281.9 				"/>
              <polygon id="Fill-473" class="st1" points="943.6,303 954,303 954,297.8 943.6,297.8 				"/>
              <polygon id="Fill-474" class="st1" points="943.6,319 954,319 954,313.8 943.6,313.8 				"/>
              <polygon id="Fill-475" class="st1" points="943.6,335 954,335 954,329.8 943.6,329.8 				"/>
              <polygon id="Fill-476" class="st1" points="943.6,350.9 954,350.9 954,345.8 943.6,345.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-165" class="st1" points="964.3,287.1 974.6,287.1 974.6,281.9 964.3,281.9 				"/>
              <polygon id="Fill-166" class="st1" points="964.3,271.1 974.6,271.1 974.6,265.9 964.3,265.9 				"/>
              <polygon id="Fill-167" class="st1" points="964.3,255.1 974.6,255.1 974.6,249.9 964.3,249.9 				"/>
              <polygon id="Fill-477" class="st1" points="964.3,287.1 974.6,287.1 974.6,281.9 964.3,281.9 				"/>
              <polygon id="Fill-478" class="st1" points="964.3,303 974.6,303 974.6,297.8 964.3,297.8 				"/>
              <polygon id="Fill-479" class="st1" points="964.3,319 974.6,319 974.6,313.8 964.3,313.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-168" class="st1" points="985,287.1 995.3,287.1 995.3,281.9 985,281.9 				"/>
              <polygon id="Fill-169" class="st1" points="985,271.1 995.3,271.1 995.3,265.9 985,265.9 				"/>
              <polygon id="Fill-170" class="st1" points="985,255.1 995.3,255.1 995.3,249.9 985,249.9 				"/>
              <polygon id="Fill-171" class="st1" points="985,239.2 995.3,239.2 995.3,234 985,234 				"/>
              <polygon id="Fill-480" class="st1" points="985,287.1 995.3,287.1 995.3,281.9 985,281.9 				"/>
              <polygon id="Fill-481" class="st1" points="985,303 995.3,303 995.3,297.8 985,297.8 				"/>
              <polygon id="Fill-482" class="st1" points="985,319 995.3,319 995.3,313.8 985,313.8 				"/>
              <polygon id="Fill-483" class="st1" points="985,335 995.3,335 995.3,329.8 985,329.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-172" class="st1" points="1005.6,287.1 1016,287.1 1016,281.9 1005.6,281.9 				"/>
              <polygon id="Fill-173" class="st1" points="1005.6,271.1 1016,271.1 1016,265.9 1005.6,265.9 				"/>
              <polygon id="Fill-174" class="st1" points="1005.6,255.1 1016,255.1 1016,249.9 1005.6,249.9 				"/>
              <polygon id="Fill-175" class="st1" points="1005.6,239.2 1016,239.2 1016,234 1005.6,234 				"/>
              <polygon id="Fill-176" class="st1" points="1005.6,223.2 1016,223.2 1016,218 1005.6,218 				"/>
              <polygon id="Fill-177" class="st1" points="1005.6,209.8 1016,209.8 1016,204.6 1005.6,204.6 				"/>
              <polygon id="Fill-484" class="st1" points="1005.6,287.1 1016,287.1 1016,281.9 1005.6,281.9 				"/>
              <polygon id="Fill-485" class="st1" points="1005.6,303 1016,303 1016,297.8 1005.6,297.8 				"/>
              <polygon id="Fill-486" class="st1" points="1005.6,319 1016,319 1016,313.8 1005.6,313.8 				"/>
              <polygon id="Fill-487" class="st1" points="1005.6,335 1016,335 1016,329.8 1005.6,329.8 				"/>
              <polygon id="Fill-488" class="st1" points="1005.6,350.9 1016,350.9 1016,345.8 1005.6,345.8 				"/>
              <polygon id="Fill-489" class="st1" points="1005.6,364.3 1016,364.3 1016,359.1 1005.6,359.1 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-178" class="st1" points="1026.3,287.1 1036.7,287.1 1036.7,281.9 1026.3,281.9 				"/>
              <polygon id="Fill-179" class="st1" points="1026.3,271.1 1036.7,271.1 1036.7,265.9 1026.3,265.9 				"/>
              <polygon id="Fill-490" class="st1" points="1026.3,287.1 1036.7,287.1 1036.7,281.9 1026.3,281.9 				"/>
              <polygon id="Fill-491" class="st1" points="1026.3,303 1036.7,303 1036.7,297.8 1026.3,297.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-180" class="st1" points="1047,287.1 1057.4,287.1 1057.4,281.9 1047,281.9 				"/>
              <polygon id="Fill-492" class="st1" points="1047,287.1 1057.4,287.1 1057.4,281.9 1047,281.9 				"/>
              <polygon id="Fill-493" class="st1" points="1047,303 1057.4,303 1057.4,297.8 1047,297.8 				"/>
              <polygon id="Fill-494" class="st1" points="1047,319 1057.4,319 1057.4,313.8 1047,313.8 				"/>
              <polygon id="Fill-495" class="st1" points="1047,271.1 1057.4,271.1 1057.4,265.9 1047,265.9 				"/>
              <polygon id="Fill-496" class="st1" points="1047,255.1 1057.4,255.1 1057.4,249.9 1047,249.9 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-181" class="st1" points="1067.7,287.1 1078,287.1 1078,281.9 1067.7,281.9 				"/>
              <polygon id="Fill-182" class="st1" points="1067.7,271.1 1078,271.1 1078,265.9 1067.7,265.9 				"/>
              <polygon id="Fill-497" class="st1" points="1067.7,287.1 1078,287.1 1078,281.9 1067.7,281.9 				"/>
              <polygon id="Fill-498" class="st1" points="1067.7,303 1078,303 1078,297.8 1067.7,297.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-183" class="st1" points="1088.4,287.1 1098.7,287.1 1098.7,281.9 1088.4,281.9 				"/>
              <polygon id="Fill-184" class="st1" points="1088.4,271.1 1098.7,271.1 1098.7,265.9 1088.4,265.9 				"/>
              <polygon id="Fill-185" class="st1" points="1088.4,255.1 1098.7,255.1 1098.7,249.9 1088.4,249.9 				"/>
              <polygon id="Fill-186" class="st1" points="1088.4,239.2 1098.7,239.2 1098.7,234 1088.4,234 				"/>
              <polygon id="Fill-187" class="st1" points="1088.4,223.2 1098.7,223.2 1098.7,218 1088.4,218 				"/>
              <polygon id="Fill-499" class="st1" points="1088.4,287.1 1098.7,287.1 1098.7,281.9 1088.4,281.9 				"/>
              <polygon id="Fill-500" class="st1" points="1088.4,303 1098.7,303 1098.7,297.8 1088.4,297.8 				"/>
              <polygon id="Fill-501" class="st1" points="1088.4,319 1098.7,319 1098.7,313.8 1088.4,313.8 				"/>
              <polygon id="Fill-502" class="st1" points="1088.4,335 1098.7,335 1098.7,329.8 1088.4,329.8 				"/>
              <polygon id="Fill-503" class="st1" points="1088.4,350.9 1098.7,350.9 1098.7,345.8 1088.4,345.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-188" class="st1" points="1109.1,287.1 1119.4,287.1 1119.4,281.9 1109.1,281.9 				"/>
              <polygon id="Fill-189" class="st1" points="1109.1,271.1 1119.4,271.1 1119.4,265.9 1109.1,265.9 				"/>
              <polygon id="Fill-190" class="st1" points="1109.1,255.1 1119.4,255.1 1119.4,249.9 1109.1,249.9 				"/>
              <polygon id="Fill-191" class="st1" points="1109.1,239.2 1119.4,239.2 1119.4,234 1109.1,234 				"/>
              <polygon id="Fill-192" class="st1" points="1109.1,223.2 1119.4,223.2 1119.4,218 1109.1,218 				"/>
              <polygon id="Fill-193" class="st1" points="1109.1,207.2 1119.4,207.2 1119.4,202 1109.1,202 				"/>
              <polygon id="Fill-194" class="st1" points="1109.1,191.3 1119.4,191.3 1119.4,186.1 1109.1,186.1 				"/>
              <polygon id="Fill-195" class="st1" points="1109.1,175.3 1119.4,175.3 1119.4,170.1 1109.1,170.1 				"/>
              <polygon id="Fill-196" class="st1" points="1109.1,159.3 1119.4,159.3 1119.4,154.1 1109.1,154.1 				"/>
              <polygon id="Fill-504" class="st1" points="1109.1,287.1 1119.4,287.1 1119.4,281.9 1109.1,281.9 				"/>
              <polygon id="Fill-505" class="st1" points="1109.1,303 1119.4,303 1119.4,297.8 1109.1,297.8 				"/>
              <polygon id="Fill-506" class="st1" points="1109.1,319 1119.4,319 1119.4,313.8 1109.1,313.8 				"/>
              <polygon id="Fill-507" class="st1" points="1109.1,335 1119.4,335 1119.4,329.8 1109.1,329.8 				"/>
              <polygon id="Fill-508" class="st1" points="1109.1,350.9 1119.4,350.9 1119.4,345.8 1109.1,345.8 				"/>
              <polygon id="Fill-509" class="st1" points="1109.1,366.9 1119.4,366.9 1119.4,361.7 1109.1,361.7 				"/>
              <polygon id="Fill-510" class="st1" points="1109.1,382.9 1119.4,382.9 1119.4,377.7 1109.1,377.7 				"/>
              <polygon id="Fill-511" class="st1" points="1109.1,398.9 1119.4,398.9 1119.4,393.7 1109.1,393.7 				"/>
              <polygon id="Fill-512" class="st1" points="1109.1,414.8 1119.4,414.8 1119.4,409.6 1109.1,409.6 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-197" class="st1" points="1129.7,287.1 1140.1,287.1 1140.1,281.9 1129.7,281.9 				"/>
              <polygon id="Fill-198" class="st1" points="1129.7,271.1 1140.1,271.1 1140.1,265.9 1129.7,265.9 				"/>
              <polygon id="Fill-199" class="st1" points="1129.7,255.1 1140.1,255.1 1140.1,249.9 1129.7,249.9 				"/>
              <polygon id="Fill-200" class="st1" points="1129.7,239.2 1140.1,239.2 1140.1,234 1129.7,234 				"/>
              <polygon id="Fill-513" class="st1" points="1129.7,287.1 1140.1,287.1 1140.1,281.9 1129.7,281.9 				"/>
              <polygon id="Fill-514" class="st1" points="1129.7,303 1140.1,303 1140.1,297.8 1129.7,297.8 				"/>
              <polygon id="Fill-515" class="st1" points="1129.7,319 1140.1,319 1140.1,313.8 1129.7,313.8 				"/>
              <polygon id="Fill-516" class="st1" points="1129.7,335 1140.1,335 1140.1,329.8 1129.7,329.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-201" class="st1" points="1150.4,287.1 1160.8,287.1 1160.8,281.9 1150.4,281.9 				"/>
              <polygon id="Fill-202" class="st1" points="1150.4,271.1 1160.8,271.1 1160.8,265.9 1150.4,265.9 				"/>
              <polygon id="Fill-203" class="st1" points="1150.4,255.1 1160.8,255.1 1160.8,249.9 1150.4,249.9 				"/>
              <polygon id="Fill-204" class="st1" points="1150.4,239.2 1160.8,239.2 1160.8,234 1150.4,234 				"/>
              <polygon id="Fill-205" class="st1" points="1150.4,223.2 1160.8,223.2 1160.8,218 1150.4,218 				"/>
              <polygon id="Fill-206" class="st1" points="1150.4,207.2 1160.8,207.2 1160.8,202 1150.4,202 				"/>
              <polygon id="Fill-517" class="st1" points="1150.4,287.1 1160.8,287.1 1160.8,281.9 1150.4,281.9 				"/>
              <polygon id="Fill-518" class="st1" points="1150.4,303 1160.8,303 1160.8,297.8 1150.4,297.8 				"/>
              <polygon id="Fill-519" class="st1" points="1150.4,319 1160.8,319 1160.8,313.8 1150.4,313.8 				"/>
              <polygon id="Fill-520" class="st1" points="1150.4,335 1160.8,335 1160.8,329.8 1150.4,329.8 				"/>
              <polygon id="Fill-521" class="st1" points="1150.4,350.9 1160.8,350.9 1160.8,345.8 1150.4,345.8 				"/>
              <polygon id="Fill-522" class="st1" points="1150.4,366.9 1160.8,366.9 1160.8,361.7 1150.4,361.7 				"/>
            </g>
            <polygon id="Fill-523" class="st1" points="1171.1,287.1 1181.5,287.1 1181.5,281.9 1171.1,281.9 			"/>
            <polygon id="Fill-524" class="st1" points="1171.1,303 1181.5,303 1181.5,297.8 1171.1,297.8 			"/>
            <polygon id="Fill-525" class="st1" points="1171.1,319 1181.5,319 1181.5,313.8 1171.1,313.8 			"/>
            <g class="bar">
                      <polygon id="Fill-210" class="st1" points="1191.8,287.1 1202.1,287.1 1202.1,281.9 1191.8,281.9 					"/>
                      <polygon id="Fill-526" class="st1" points="1191.8,287.1 1202.1,287.1 1202.1,281.9 1191.8,281.9 					"/>
              <polygon id="Fill-211" class="st1" points="1212.5,287.1 1222.8,287.1 1222.8,281.9 1212.5,281.9 				"/>
              <polygon id="Fill-212" class="st1" points="1212.5,271.1 1222.8,271.1 1222.8,265.9 1212.5,265.9 				"/>
              <polygon id="Fill-527" class="st1" points="1212.5,287.1 1222.8,287.1 1222.8,281.9 1212.5,281.9 				"/>
              <polygon id="Fill-528" class="st1" points="1212.5,303 1222.8,303 1222.8,297.8 1212.5,297.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-213" class="st1" points="1233.2,287.1 1243.5,287.1 1243.5,281.9 1233.2,281.9 				"/>
              <polygon id="Fill-214" class="st1" points="1233.2,271.1 1243.5,271.1 1243.5,265.9 1233.2,265.9 				"/>
              <polygon id="Fill-215" class="st1" points="1233.2,255.1 1243.5,255.1 1243.5,249.9 1233.2,249.9 				"/>
              <polygon id="Fill-216" class="st1" points="1233.2,239.2 1243.5,239.2 1243.5,234 1233.2,234 				"/>
              <polygon id="Fill-529" class="st1" points="1233.2,287.1 1243.5,287.1 1243.5,281.9 1233.2,281.9 				"/>
              <polygon id="Fill-530" class="st1" points="1233.2,303 1243.5,303 1243.5,297.8 1233.2,297.8 				"/>
              <polygon id="Fill-531" class="st1" points="1233.2,319 1243.5,319 1243.5,313.8 1233.2,313.8 				"/>
              <polygon id="Fill-532" class="st1" points="1233.2,335 1243.5,335 1243.5,329.8 1233.2,329.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-217" class="st1" points="1253.8,287.1 1264.2,287.1 1264.2,281.9 1253.8,281.9 				"/>
              <polygon id="Fill-218" class="st1" points="1253.8,271.1 1264.2,271.1 1264.2,265.9 1253.8,265.9 				"/>
              <polygon id="Fill-219" class="st1" points="1253.8,255.1 1264.2,255.1 1264.2,249.9 1253.8,249.9 				"/>
              <polygon id="Fill-220" class="st1" points="1253.8,239.2 1264.2,239.2 1264.2,234 1253.8,234 				"/>
              <polygon id="Fill-221" class="st1" points="1253.8,223.2 1264.2,223.2 1264.2,218 1253.8,218 				"/>
              <polygon id="Fill-222" class="st1" points="1253.8,207.2 1264.2,207.2 1264.2,202 1253.8,202 				"/>
              <polygon id="Fill-533" class="st1" points="1253.8,287.1 1264.2,287.1 1264.2,281.9 1253.8,281.9 				"/>
              <polygon id="Fill-534" class="st1" points="1253.8,303 1264.2,303 1264.2,297.8 1253.8,297.8 				"/>
              <polygon id="Fill-535" class="st1" points="1253.8,319 1264.2,319 1264.2,313.8 1253.8,313.8 				"/>
              <polygon id="Fill-536" class="st1" points="1253.8,335 1264.2,335 1264.2,329.8 1253.8,329.8 				"/>
              <polygon id="Fill-537" class="st1" points="1253.8,350.9 1264.2,350.9 1264.2,345.8 1253.8,345.8 				"/>
              <polygon id="Fill-538" class="st1" points="1253.8,366.9 1264.2,366.9 1264.2,361.7 1253.8,361.7 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-223" class="st1" points="1274.5,287.1 1284.9,287.1 1284.9,281.9 1274.5,281.9 				"/>
              <polygon id="Fill-224" class="st1" points="1274.5,271.1 1284.9,271.1 1284.9,265.9 1274.5,265.9 				"/>
              <polygon id="Fill-225" class="st1" points="1274.5,255.1 1284.9,255.1 1284.9,249.9 1274.5,249.9 				"/>
              <polygon id="Fill-539" class="st1" points="1274.5,287.1 1284.9,287.1 1284.9,281.9 1274.5,281.9 				"/>
              <polygon id="Fill-540" class="st1" points="1274.5,303 1284.9,303 1284.9,297.8 1274.5,297.8 				"/>
              <polygon id="Fill-541" class="st1" points="1274.5,319 1284.9,319 1284.9,313.8 1274.5,313.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-226" class="st1" points="1295.2,287.1 1305.6,287.1 1305.6,281.9 1295.2,281.9 				"/>
              <polygon id="Fill-227" class="st1" points="1295.2,271.1 1305.6,271.1 1305.6,265.9 1295.2,265.9 				"/>
              <polygon id="Fill-228" class="st1" points="1295.2,255.1 1305.6,255.1 1305.6,249.9 1295.2,249.9 				"/>
              <polygon id="Fill-229" class="st1" points="1295.2,239.2 1305.6,239.2 1305.6,234 1295.2,234 				"/>
              <polygon id="Fill-230" class="st1" points="1295.2,223.2 1305.6,223.2 1305.6,218 1295.2,218 				"/>
              <polygon id="Fill-231" class="st1" points="1295.2,207.2 1305.6,207.2 1305.6,202 1295.2,202 				"/>
              <polygon id="Fill-232" class="st1" points="1295.2,191.3 1305.6,191.3 1305.6,186.1 1295.2,186.1 				"/>
              <polygon id="Fill-233" class="st1" points="1295.2,175.3 1305.6,175.3 1305.6,170.1 1295.2,170.1 				"/>
              <polygon id="Fill-234" class="st1" points="1295.2,159.3 1305.6,159.3 1305.6,154.1 1295.2,154.1 				"/>
              <polygon id="Fill-542" class="st1" points="1295.2,287.1 1305.6,287.1 1305.6,281.9 1295.2,281.9 				"/>
              <polygon id="Fill-543" class="st1" points="1295.2,303 1305.6,303 1305.6,297.8 1295.2,297.8 				"/>
              <polygon id="Fill-544" class="st1" points="1295.2,319 1305.6,319 1305.6,313.8 1295.2,313.8 				"/>
              <polygon id="Fill-545" class="st1" points="1295.2,335 1305.6,335 1305.6,329.8 1295.2,329.8 				"/>
              <polygon id="Fill-546" class="st1" points="1295.2,350.9 1305.6,350.9 1305.6,345.8 1295.2,345.8 				"/>
              <polygon id="Fill-547" class="st1" points="1295.2,366.9 1305.6,366.9 1305.6,361.7 1295.2,361.7 				"/>
              <polygon id="Fill-548" class="st1" points="1295.2,382.9 1305.6,382.9 1305.6,377.7 1295.2,377.7 				"/>
              <polygon id="Fill-549" class="st1" points="1295.2,398.9 1305.6,398.9 1305.6,393.7 1295.2,393.7 				"/>
              <polygon id="Fill-550" class="st1" points="1295.2,414.8 1305.6,414.8 1305.6,409.6 1295.2,409.6 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-235" class="st1" points="1315.9,287.1 1326.2,287.1 1326.2,281.9 1315.9,281.9 				"/>
              <polygon id="Fill-236" class="st1" points="1315.9,271.1 1326.2,271.1 1326.2,265.9 1315.9,265.9 				"/>
              <polygon id="Fill-237" class="st1" points="1315.9,255.1 1326.2,255.1 1326.2,249.9 1315.9,249.9 				"/>
              <polygon id="Fill-238" class="st1" points="1315.9,239.2 1326.2,239.2 1326.2,234 1315.9,234 				"/>
              <polygon id="Fill-239" class="st1" points="1315.9,223.2 1326.2,223.2 1326.2,218 1315.9,218 				"/>
              <polygon id="Fill-240" class="st1" points="1315.9,207.2 1326.2,207.2 1326.2,202 1315.9,202 				"/>
              <polygon id="Fill-241" class="st1" points="1315.9,191.3 1326.2,191.3 1326.2,186.1 1315.9,186.1 				"/>
              <polygon id="Fill-551" class="st1" points="1315.9,287.1 1326.2,287.1 1326.2,281.9 1315.9,281.9 				"/>
              <polygon id="Fill-552" class="st1" points="1315.9,303 1326.2,303 1326.2,297.8 1315.9,297.8 				"/>
              <polygon id="Fill-553" class="st1" points="1315.9,319 1326.2,319 1326.2,313.8 1315.9,313.8 				"/>
              <polygon id="Fill-554" class="st1" points="1315.9,335 1326.2,335 1326.2,329.8 1315.9,329.8 				"/>
              <polygon id="Fill-555" class="st1" points="1315.9,350.9 1326.2,350.9 1326.2,345.8 1315.9,345.8 				"/>
              <polygon id="Fill-556" class="st1" points="1315.9,366.9 1326.2,366.9 1326.2,361.7 1315.9,361.7 				"/>
              <polygon id="Fill-557" class="st1" points="1315.9,382.9 1326.2,382.9 1326.2,377.7 1315.9,377.7 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-242" class="st1" points="1336.6,287.1 1346.9,287.1 1346.9,281.9 1336.6,281.9 				"/>
              <polygon id="Fill-243" class="st1" points="1336.6,271.1 1346.9,271.1 1346.9,265.9 1336.6,265.9 				"/>
              <polygon id="Fill-244" class="st1" points="1336.6,255.1 1346.9,255.1 1346.9,249.9 1336.6,249.9 				"/>
              <polygon id="Fill-245" class="st1" points="1336.6,239.2 1346.9,239.2 1346.9,234 1336.6,234 				"/>
              <polygon id="Fill-246" class="st1" points="1336.6,223.2 1346.9,223.2 1346.9,218 1336.6,218 				"/>
              <polygon id="Fill-247" class="st1" points="1336.6,207.2 1346.9,207.2 1346.9,202 1336.6,202 				"/>
              <polygon id="Fill-248" class="st1" points="1336.6,191.3 1346.9,191.3 1346.9,186.1 1336.6,186.1 				"/>
              <polygon id="Fill-249" class="st1" points="1336.6,175.3 1346.9,175.3 1346.9,170.1 1336.6,170.1 				"/>
              <polygon id="Fill-250" class="st1" points="1336.6,159.3 1346.9,159.3 1346.9,154.1 1336.6,154.1 				"/>
              <polygon id="Fill-251" class="st1" points="1336.6,143.3 1346.9,143.3 1346.9,138.2 1336.6,138.2 				"/>
              <polygon id="Fill-252" class="st1" points="1336.6,127.4 1346.9,127.4 1346.9,122.2 1336.6,122.2 				"/>
              <polygon id="Fill-253" class="st1" points="1336.6,111.4 1346.9,111.4 1346.9,106.2 1336.6,106.2 				"/>
              <polygon id="Fill-558" class="st1" points="1336.6,287.1 1346.9,287.1 1346.9,281.9 1336.6,281.9 				"/>
              <polygon id="Fill-559" class="st1" points="1336.6,303 1346.9,303 1346.9,297.8 1336.6,297.8 				"/>
              <polygon id="Fill-560" class="st1" points="1336.6,319 1346.9,319 1346.9,313.8 1336.6,313.8 				"/>
              <polygon id="Fill-561" class="st1" points="1336.6,335 1346.9,335 1346.9,329.8 1336.6,329.8 				"/>
              <polygon id="Fill-562" class="st1" points="1336.6,350.9 1346.9,350.9 1346.9,345.8 1336.6,345.8 				"/>
              <polygon id="Fill-563" class="st1" points="1336.6,366.9 1346.9,366.9 1346.9,361.7 1336.6,361.7 				"/>
              <polygon id="Fill-564" class="st1" points="1336.6,382.9 1346.9,382.9 1346.9,377.7 1336.6,377.7 				"/>
              <polygon id="Fill-565" class="st1" points="1336.6,398.9 1346.9,398.9 1346.9,393.7 1336.6,393.7 				"/>
              <polygon id="Fill-566" class="st1" points="1336.6,414.8 1346.9,414.8 1346.9,409.6 1336.6,409.6 				"/>
              <polygon id="Fill-567" class="st1" points="1336.6,430.8 1346.9,430.8 1346.9,425.6 1336.6,425.6 				"/>
              <polygon id="Fill-568" class="st1" points="1336.6,446.8 1346.9,446.8 1346.9,441.6 1336.6,441.6 				"/>
              <polygon id="Fill-569" class="st1" points="1336.6,462.7 1346.9,462.7 1346.9,457.5 1336.6,457.5 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-254" class="st1" points="1357.2,287.1 1367.6,287.1 1367.6,281.9 1357.2,281.9 				"/>
              <polygon id="Fill-255" class="st1" points="1357.2,271.1 1367.6,271.1 1367.6,265.9 1357.2,265.9 				"/>
              <polygon id="Fill-256" class="st1" points="1357.2,255.1 1367.6,255.1 1367.6,249.9 1357.2,249.9 				"/>
              <polygon id="Fill-257" class="st1" points="1357.2,239.2 1367.6,239.2 1367.6,234 1357.2,234 				"/>
              <polygon id="Fill-258" class="st1" points="1357.2,223.2 1367.6,223.2 1367.6,218 1357.2,218 				"/>
              <polygon id="Fill-259" class="st1" points="1357.2,207.2 1367.6,207.2 1367.6,202 1357.2,202 				"/>
              <polygon id="Fill-260" class="st1" points="1357.2,191.3 1367.6,191.3 1367.6,186.1 1357.2,186.1 				"/>
              <polygon id="Fill-261" class="st1" points="1357.2,175.3 1367.6,175.3 1367.6,170.1 1357.2,170.1 				"/>
              <polygon id="Fill-262" class="st1" points="1357.2,159.3 1367.6,159.3 1367.6,154.1 1357.2,154.1 				"/>
              <polygon id="Fill-570" class="st1" points="1357.2,287.1 1367.6,287.1 1367.6,281.9 1357.2,281.9 				"/>
              <polygon id="Fill-571" class="st1" points="1357.2,303 1367.6,303 1367.6,297.8 1357.2,297.8 				"/>
              <polygon id="Fill-572" class="st1" points="1357.2,319 1367.6,319 1367.6,313.8 1357.2,313.8 				"/>
              <polygon id="Fill-573" class="st1" points="1357.2,335 1367.6,335 1367.6,329.8 1357.2,329.8 				"/>
              <polygon id="Fill-574" class="st1" points="1357.2,350.9 1367.6,350.9 1367.6,345.8 1357.2,345.8 				"/>
              <polygon id="Fill-575" class="st1" points="1357.2,366.9 1367.6,366.9 1367.6,361.7 1357.2,361.7 				"/>
              <polygon id="Fill-576" class="st1" points="1357.2,382.9 1367.6,382.9 1367.6,377.7 1357.2,377.7 				"/>
              <polygon id="Fill-577" class="st1" points="1357.2,398.9 1367.6,398.9 1367.6,393.7 1357.2,393.7 				"/>
              <polygon id="Fill-578" class="st1" points="1357.2,414.8 1367.6,414.8 1367.6,409.6 1357.2,409.6 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-263" class="st1" points="1377.9,287.1 1388.3,287.1 1388.3,281.9 1377.9,281.9 				"/>
              <polygon id="Fill-264" class="st1" points="1377.9,271.1 1388.3,271.1 1388.3,265.9 1377.9,265.9 				"/>
              <polygon id="Fill-265" class="st1" points="1377.9,255.1 1388.3,255.1 1388.3,249.9 1377.9,249.9 				"/>
              <polygon id="Fill-266" class="st1" points="1377.9,239.2 1388.3,239.2 1388.3,234 1377.9,234 				"/>
              <polygon id="Fill-267" class="st1" points="1377.9,223.2 1388.3,223.2 1388.3,218 1377.9,218 				"/>
              <polygon id="Fill-268" class="st1" points="1377.9,207.2 1388.3,207.2 1388.3,202 1377.9,202 				"/>
              <polygon id="Fill-579" class="st1" points="1377.9,287.1 1388.3,287.1 1388.3,281.9 1377.9,281.9 				"/>
              <polygon id="Fill-580" class="st1" points="1377.9,303 1388.3,303 1388.3,297.8 1377.9,297.8 				"/>
              <polygon id="Fill-581" class="st1" points="1377.9,319 1388.3,319 1388.3,313.8 1377.9,313.8 				"/>
              <polygon id="Fill-582" class="st1" points="1377.9,335 1388.3,335 1388.3,329.8 1377.9,329.8 				"/>
              <polygon id="Fill-583" class="st1" points="1377.9,350.9 1388.3,350.9 1388.3,345.8 1377.9,345.8 				"/>
              <polygon id="Fill-584" class="st1" points="1377.9,366.9 1388.3,366.9 1388.3,361.7 1377.9,361.7 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-269" class="st1" points="1398.6,287.1 1409,287.1 1409,281.9 1398.6,281.9 				"/>
              <polygon id="Fill-270" class="st1" points="1398.6,271.1 1409,271.1 1409,265.9 1398.6,265.9 				"/>
              <polygon id="Fill-271" class="st1" points="1398.6,255.1 1409,255.1 1409,249.9 1398.6,249.9 				"/>
              <polygon id="Fill-585" class="st1" points="1398.6,287.1 1409,287.1 1409,281.9 1398.6,281.9 				"/>
              <polygon id="Fill-586" class="st1" points="1398.6,303 1409,303 1409,297.8 1398.6,297.8 				"/>
              <polygon id="Fill-587" class="st1" points="1398.6,319 1409,319 1409,313.8 1398.6,313.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-272" class="st1" points="1419.3,287.1 1429.6,287.1 1429.6,281.9 1419.3,281.9 				"/>
              <polygon id="Fill-273" class="st1" points="1419.3,271.1 1429.6,271.1 1429.6,265.9 1419.3,265.9 				"/>
              <polygon id="Fill-274" class="st1" points="1419.3,255.1 1429.6,255.1 1429.6,249.9 1419.3,249.9 				"/>
              <polygon id="Fill-275" class="st1" points="1419.3,239.2 1429.6,239.2 1429.6,234 1419.3,234 				"/>
              <polygon id="Fill-588" class="st1" points="1419.3,287.1 1429.6,287.1 1429.6,281.9 1419.3,281.9 				"/>
              <polygon id="Fill-589" class="st1" points="1419.3,303 1429.6,303 1429.6,297.8 1419.3,297.8 				"/>
              <polygon id="Fill-590" class="st1" points="1419.3,319 1429.6,319 1429.6,313.8 1419.3,313.8 				"/>
              <polygon id="Fill-591" class="st1" points="1419.3,335 1429.6,335 1429.6,329.8 1419.3,329.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-276" class="st1" points="1440,287.1 1450.3,287.1 1450.3,281.9 1440,281.9 				"/>
              <polygon id="Fill-277" class="st1" points="1440,271.1 1450.3,271.1 1450.3,265.9 1440,265.9 				"/>
              <polygon id="Fill-592" class="st1" points="1440,287.1 1450.3,287.1 1450.3,281.9 1440,281.9 				"/>
              <polygon id="Fill-593" class="st1" points="1440,303 1450.3,303 1450.3,297.8 1440,297.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-278" class="st1" points="1460.7,287.1 1471,287.1 1471,281.9 1460.7,281.9 				"/>
              <polygon id="Fill-279" class="st1" points="1460.7,271.1 1471,271.1 1471,265.9 1460.7,265.9 				"/>
              <polygon id="Fill-280" class="st1" points="1460.7,255.1 1471,255.1 1471,249.9 1460.7,249.9 				"/>
              <polygon id="Fill-281" class="st1" points="1460.7,239.2 1471,239.2 1471,234 1460.7,234 				"/>
              <polygon id="Fill-282" class="st1" points="1460.7,223.2 1471,223.2 1471,218 1460.7,218 				"/>
              <polygon id="Fill-594" class="st1" points="1460.7,287.1 1471,287.1 1471,281.9 1460.7,281.9 				"/>
              <polygon id="Fill-595" class="st1" points="1460.7,303 1471,303 1471,297.8 1460.7,297.8 				"/>
              <polygon id="Fill-596" class="st1" points="1460.7,319 1471,319 1471,313.8 1460.7,313.8 				"/>
              <polygon id="Fill-597" class="st1" points="1460.7,335 1471,335 1471,329.8 1460.7,329.8 				"/>
              <polygon id="Fill-598" class="st1" points="1460.7,350.9 1471,350.9 1471,345.8 1460.7,345.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-283" class="st1" points="1481.3,287.1 1491.7,287.1 1491.7,281.9 1481.3,281.9 				"/>
              <polygon id="Fill-284" class="st1" points="1481.3,271.1 1491.7,271.1 1491.7,265.9 1481.3,265.9 				"/>
              <polygon id="Fill-285" class="st1" points="1481.3,255.1 1491.7,255.1 1491.7,249.9 1481.3,249.9 				"/>
              <polygon id="Fill-599" class="st1" points="1481.3,287.1 1491.7,287.1 1491.7,281.9 1481.3,281.9 				"/>
              <polygon id="Fill-600" class="st1" points="1481.3,303 1491.7,303 1491.7,297.8 1481.3,297.8 				"/>
              <polygon id="Fill-601" class="st1" points="1481.3,319 1491.7,319 1491.7,313.8 1481.3,313.8 				"/>
            </g>
            <g class="bar">
                      <polygon id="Fill-286" class="st1" points="1502,287.1 1512.4,287.1 1512.4,281.9 1502,281.9 					"/>
                      <polygon id="Fill-602" class="st1" points="1502,287.1 1512.4,287.1 1512.4,281.9 1502,281.9 					"/>
              <polygon id="Fill-287" class="st1" points="1522.7,287.1 1533.1,287.1 1533.1,281.9 1522.7,281.9 				"/>
              <polygon id="Fill-288" class="st1" points="1522.7,271.1 1533.1,271.1 1533.1,265.9 1522.7,265.9 				"/>
              <polygon id="Fill-603" class="st1" points="1522.7,287.1 1533.1,287.1 1533.1,281.9 1522.7,281.9 				"/>
              <polygon id="Fill-604" class="st1" points="1522.7,303 1533.1,303 1533.1,297.8 1522.7,297.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-289" class="st1" points="1543.4,287.1 1553.8,287.1 1553.8,281.9 1543.4,281.9 				"/>
              <polygon id="Fill-290" class="st1" points="1543.4,271.1 1553.8,271.1 1553.8,265.9 1543.4,265.9 				"/>
              <polygon id="Fill-291" class="st1" points="1543.4,255.1 1553.8,255.1 1553.8,249.9 1543.4,249.9 				"/>
              <polygon id="Fill-292" class="st1" points="1543.4,239.2 1553.8,239.2 1553.8,234 1543.4,234 				"/>
              <polygon id="Fill-605" class="st1" points="1543.4,287.1 1553.8,287.1 1553.8,281.9 1543.4,281.9 				"/>
              <polygon id="Fill-606" class="st1" points="1543.4,303 1553.8,303 1553.8,297.8 1543.4,297.8 				"/>
              <polygon id="Fill-607" class="st1" points="1543.4,319 1553.8,319 1553.8,313.8 1543.4,313.8 				"/>
              <polygon id="Fill-608" class="st1" points="1543.4,335 1553.8,335 1553.8,329.8 1543.4,329.8 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-293" class="st1" points="1564.1,287.1 1574.4,287.1 1574.4,281.9 1564.1,281.9 				"/>
              <polygon id="Fill-294" class="st1" points="1564.1,271.1 1574.4,271.1 1574.4,265.9 1564.1,265.9 				"/>
              <polygon id="Fill-295" class="st1" points="1564.1,255.1 1574.4,255.1 1574.4,249.9 1564.1,249.9 				"/>
              <polygon id="Fill-296" class="st1" points="1564.1,239.2 1574.4,239.2 1574.4,234 1564.1,234 				"/>
              <polygon id="Fill-297" class="st1" points="1564.1,223.2 1574.4,223.2 1574.4,218 1564.1,218 				"/>
              <polygon id="Fill-298" class="st1" points="1564.1,207.2 1574.4,207.2 1574.4,202 1564.1,202 				"/>
              <polygon id="Fill-299" class="st1" points="1564.1,207.2 1574.4,207.2 1574.4,202 1564.1,202 				"/>
              <polygon id="Fill-300" class="st1" points="1564.1,191.3 1574.4,191.3 1574.4,186.1 1564.1,186.1 				"/>
              <polygon id="Fill-609" class="st1" points="1564.1,287.1 1574.4,287.1 1574.4,281.9 1564.1,281.9 				"/>
              <polygon id="Fill-610" class="st1" points="1564.1,303 1574.4,303 1574.4,297.8 1564.1,297.8 				"/>
              <polygon id="Fill-611" class="st1" points="1564.1,319 1574.4,319 1574.4,313.8 1564.1,313.8 				"/>
              <polygon id="Fill-612" class="st1" points="1564.1,335 1574.4,335 1574.4,329.8 1564.1,329.8 				"/>
              <polygon id="Fill-613" class="st1" points="1564.1,350.9 1574.4,350.9 1574.4,345.8 1564.1,345.8 				"/>
              <polygon id="Fill-614" class="st1" points="1564.1,366.9 1574.4,366.9 1574.4,361.7 1564.1,361.7 				"/>
              <polygon id="Fill-615" class="st1" points="1564.1,366.9 1574.4,366.9 1574.4,361.7 1564.1,361.7 				"/>
              <polygon id="Fill-616" class="st1" points="1564.1,382.9 1574.4,382.9 1574.4,377.7 1564.1,377.7 				"/>
            </g>
            <g class="bar">
              <polygon id="Fill-301" class="st1" points="1584.8,287.1 1595.1,287.1 1595.1,281.9 1584.8,281.9 				"/>
              <polygon id="Fill-302" class="st1" points="1584.8,271.1 1595.1,271.1 1595.1,265.9 1584.8,265.9 				"/>
              <polygon id="Fill-303" class="st1" points="1584.8,255.1 1595.1,255.1 1595.1,249.9 1584.8,249.9 				"/>
              <polygon id="Fill-304" class="st1" points="1584.8,239.2 1595.1,239.2 1595.1,234 1584.8,234 				"/>
              <polygon id="Fill-305" class="st1" points="1584.8,223.2 1595.1,223.2 1595.1,218 1584.8,218 				"/>
              <polygon id="Fill-617" class="st1" points="1584.8,287.1 1595.1,287.1 1595.1,281.9 1584.8,281.9 				"/>
              <polygon id="Fill-618" class="st1" points="1584.8,303 1595.1,303 1595.1,297.8 1584.8,297.8 				"/>
              <polygon id="Fill-619" class="st1" points="1584.8,319 1595.1,319 1595.1,313.8 1584.8,313.8 				"/>
              <polygon id="Fill-620" class="st1" points="1584.8,335 1595.1,335 1595.1,329.8 1584.8,329.8 				"/>
              <polygon id="Fill-621" class="st1" points="1584.8,350.9 1595.1,350.9 1595.1,345.8 1584.8,345.8 				"/>
            </g>
            <g class="bar">
                      <polygon id="Fill-306" class="st1" points="1605.4,287.1 1615.8,287.1 1615.8,281.9 1605.4,281.9 					"/>
                      <polygon id="Fill-622" class="st1" points="1605.4,287.1 1615.8,287.1 1615.8,281.9 1605.4,281.9 					"/>
              <polygon id="Fill-307" class="st1" points="1626.1,287.1 1636.5,287.1 1636.5,281.9 1626.1,281.9 				"/>
              <polygon id="Fill-308" class="st1" points="1626.1,271.1 1636.5,271.1 1636.5,265.9 1626.1,265.9 				"/>
              <polygon id="Fill-623" class="st1" points="1626.1,287.1 1636.5,287.1 1636.5,281.9 1626.1,281.9 				"/>
              <polygon id="Fill-624" class="st1" points="1626.1,303 1636.5,303 1636.5,297.8 1626.1,297.8 				"/>
              <polygon id="Fill-309" class="st1" points="1646.8,287.1 1657.2,287.1 1657.2,281.9 1646.8,281.9 				"/>
              <polygon id="Fill-625" class="st1" points="1646.8,287.1 1657.2,287.1 1657.2,281.9 1646.8,281.9 				"/>
              <polygon id="Fill-626" class="st1" points="1667.5,287.1 1677.9,287.1 1677.9,281.9 1667.5,281.9 				"/>
            </g>
          </g>
        </g>
      </g>
      </svg>

    </div>
  </div>
  <div class="slider_counter">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-auto">
          <div class="slider_counter__group">
            <span class="slider_counter__current">01</span>
            /<span class="slider_counter__total">14</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slides">
    <div class="slide section__slide">
      <div class="container">
        <div class="row align-items-start align-items-md-center">
          <div class="col-md-9">
            <h2 class="font-weight-regular">Продюсируем блогеров любого возраста</h2>
            <p>У нас нет никаких возрастных рамок в работе с блогером. Будь вам 12 или 60 лет-мы с удовольствием станем вашим партнером</p>
          </div>
          <div class="slide_img">
            <img src="images/producing/producing-img-1.jpg" alt="producing" width="700px" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <div class="slide section__slide">
      <div class="container">
        <div class="row align-items-start align-items-md-center flex-md-row-reverse ">
          <div class="col-12 col-md-9 text-md-right">
            <h2 class="font-weight-regular">Продюсируем с нуля</h2>
            <p>Если вы еще не блогер, но думаете или мечтаете им стать, мы возьмем на себя все вопросы по вашему звездному становлению:</p>
            <p>Проработку стиля, создание медийного образа, Создание фото и видео контента для площадок Instagram и YouTube, Создание сайта, Обучение работе в кадре, подготовку презентаций, продвижение, рекламу и настройку продаж</p>
          </div>
          <div class="slide_img">
            <img src="images/producing/producing-img-2.jpg" alt="producing" width="700px" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <div class="slide section__slide">
      <div class="container">
        <div class="row align-items-start align-items-md-center">
          <div class="col-md-9">
            <h2 class="font-weight-regular">Полное техническое и юридическое сопровождение</h2>
            <p>Съемочная и монтажная команда, касса, платежи, договоры, чеки, бухгалтерия налоги, юристы, адвокаты.</p>
          </div>
          <div class="slide_img">
            <img src="images/producing/producing-img-3.jpg" alt="producing" width="700px" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="drag_handler">
    <svg width="84" height="64" viewBox="0 0 84 64" xmlns="http://www.w3.org/2000/svg"><g fill="#fff" fill-rule="evenodd"><path d="M10.944.007a1.487 1.487 0 011.26 1.033 1.494 1.494 0 01-.49 1.557L4.355 8.753l7.357 6.134c.587.487.679 1.467.193 2.055-.486.59-1.462.681-2.049.193L1.164 9.866c-.66-.543-.66-1.705 0-2.249L9.857.347c.297-.253.699-.38 1.087-.34zM29.755 7.3c.76.035 1.417.76 1.382 1.521-.036.762-.759 1.422-1.517 1.386H23.1c-.765.01-1.47-.686-1.47-1.454 0-.768.705-1.465 1.47-1.454h6.655zM18.165 7.3c.759.035 1.417.76 1.381 1.521-.035.762-.758 1.422-1.517 1.386H16.58c-.765.01-1.47-.686-1.47-1.454 0-.768.705-1.465 1.47-1.454h1.45a1.41 1.41 0 01.135 0z"/><path d="M11.645 7.3c.76.035 1.417.76 1.382 1.521-.036.762-.759 1.422-1.517 1.386h-1.45c-.765.01-1.469-.686-1.469-1.454 0-.768.704-1.465 1.47-1.454h1.449a1.41 1.41 0 01.135 0z"/><path d="M73.056.007a1.487 1.487 0 00-1.26 1.033 1.494 1.494 0 00.49 1.557l7.358 6.156-7.357 6.134c-.587.487-.679 1.467-.193 2.055.486.59 1.462.681 2.049.193l8.693-7.269c.66-.543.66-1.705 0-2.249L74.143.347a1.464 1.464 0 00-1.087-.34zm-30.968 2.93c-1.527 0-2.888.553-3.78 1.523-.892.97-1.29 2.266-1.29 3.566 0 8.947-.02 17.64-.023 26.488-1.045-1.796-2.035-3.672-3.101-5.43-.954-1.637-2.373-2.634-3.849-2.885-1.475-.25-2.911.195-4.03 1-.192.114-.36.297-.506.426-1.053 1.04-1.512 2.405-1.553 3.64a6.767 6.767 0 00.883 3.59c4.835 8.363 8.635 17.598 13.175 24.92 1.068 1.434 1.615 2.244 2.218 2.907.603.664 1.463 1.108 2.286 1.273.097.025.195.04.295.045h19.536c.235-.041.495-.074.705-.102 1.621-.315 2.945-1.428 3.98-2.783 1.165-1.523 2.056-3.424 2.808-5.452 1.503-4.057 2.369-8.55 2.648-11.132V34.195c0-1.53-.722-2.994-1.833-4.248-1.111-1.253-2.732-2.294-4.686-2.294-.963 0-1.818.255-2.558.568-.46-1.248-1.262-2.188-2.15-2.68-1.397-.775-2.767-.791-3.238-.796-1.37-.02-2.433.337-3.305.863a4.579 4.579 0 00-.928-1.522c-.89-.941-2.188-1.443-3.667-1.522h-.023c-.8-.04-1.55.159-2.241.477l.022-15.015c.002-2.64-2.157-5.089-5.093-5.089h-.702zm0 2.908h.702c1.293 0 2.197 1.16 2.196 2.181l-.023 18.9c-.001.128.042.32.06.452.189.61.802 1.084 1.446 1.06.758-.03 1.422-.75 1.392-1.512v-.136c.244-.522.465-.734.89-.996.394-.233.839-.308 1.215-.321.94.046 1.437.289 1.743.613.306.324.493.81.498 1.567v1.454c.001.655.499 1.276 1.136 1.418.638.141 1.35-.21 1.626-.804.344-.738.629-1.247.973-1.545.345-.298.81-.541 2.038-.523h.022c.275.003 1.202.069 1.857.432.654.363 1.143.752 1.041 2.385-.048.61.333 1.23.898 1.462.565.23 1.27.053 1.66-.417.236-.241.583-.385.838-.522.535-.25 1.208-.432 1.675-.432.898 0 1.803.517 2.513 1.318.71.8 1.109 1.887 1.109 2.317v10.018c-.25 2.3-1.088 6.703-2.468 10.427-.69 1.862-1.517 3.57-2.4 4.725-.881 1.154-1.71 1.678-2.467 1.726H43.04c-.425-.08-.373-.027-.679-.363-.315-.347-.917-1.226-1.947-2.613-4.939-8.141-9.148-17.011-13.04-24.67-.277-.464-.545-1.318-.52-2.067.025-.727.235-1.326.838-1.817a2.83 2.83 0 011.856-.478c.62.105 1.257.425 1.856 1.454l5.773 10.177a1.49 1.49 0 001.63.704 1.497 1.497 0 001.086-1.408c0-10.804.023-21.178.023-31.985 0-.713.204-1.246.52-1.59.318-.344.774-.59 1.653-.59zM54.245 7.3c-.76.036-1.417.76-1.382 1.522.036.762.759 1.422 1.517 1.386h6.52c.765.01 1.47-.686 1.47-1.454 0-.768-.705-1.465-1.47-1.454h-6.655zm11.59 0c-.759.036-1.417.76-1.381 1.522.035.762.758 1.422 1.517 1.386h1.449c.765.01 1.47-.686 1.47-1.454 0-.768-.705-1.465-1.47-1.454h-1.45a1.41 1.41 0 00-.135 0zm6.52 0c-.76.036-1.417.76-1.382 1.522.036.762.759 1.422 1.517 1.386h1.45c.765.01 1.469-.686 1.469-1.454 0-.768-.704-1.465-1.47-1.454H72.49a1.41 1.41 0 00-.135 0z" fill-rule="nonzero"/></g></svg>
  </div>
</section>