$white: #ffffff;
$black: #09080A;
$text: #1B1F2A;
$white-text: #fefffe;
$primary: #004cff;
$dark-gray: #979797;
$border-color: #E7E7E7;
$red: #FF4848;
$green: #4EADA6;
$background: $black;

$font-family-base: 'Cera Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$font-family-alt: 'NocturneSerif', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, serif;
$font-family-headings: $font-family-base;
$font-family-controls: $font-family-base;

$font-size-base: 16px;
$font-weight-base: 600;

$font-weight-medium: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;

$transition: .3s ease;
$border-radius: 4px;
$border-width: 2px;

$height-controls: 40px;
$height-controls-lg: 48px;

$padding-controls-x: 12px;
$padding-controls-y: 8px;

$padding-controls-x-lg: 16px;
$padding-controls-y-lg: 12px;

$box-shadow: 0 6px 24px 0 rgba(125, 132, 153, 0.12), 0 4px 8px 0 rgba(125, 132, 153, 0.24);
$box-shadow-active: 0 4px 12px 0 rgba(125, 132, 153, 0.12), 0 2px 4px 0 rgba(125, 132, 153, 0.24);

$padding-buttons-x: 16px;
$padding-buttons-y: 12px;

$padding-buttons-x-sm: 12px;
$padding-buttons-y-sm: 8px;

//aspect ratios:
$rect_aspect_ratio: 'min-aspect-ratio: 6/10';
$square_aspect_ratio: 'min-aspect-ratio: 3/4';
// for retina and other HDPI
$HDPI: 'only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi)';

$max_phones--tiny: 'max-width: 320px';
$min_phones--tiny: 'min-width: 321px';

$max_phones--small: 'max-width: 420px';
$min_phones--small: 'min-width: 421px';

$max_phones: 'max-width: 575px';
$min_phones: 'min-width: 576px';

$max_phones--big: 'max-width: 767px';
$min_phones--big: 'min-width: 768px';

$max_tablets--portrait: 'max-width: 768px';
$min_tablets--portrait: 'min-width: 769px';

$max_tablets: 'max-width: 991px';
$min_tablets: 'min-width: 992px';

$max_tablets--landscape: 'max-width: 1050px';
$min_tablets--landscape: 'min-width: 1051px';

$max_laptop--small: 'max-width: 1280px';
$min_laptop--small: 'min-width: 1281px';

$max_laptop: 'max-width: 1366px';
$min_laptop: 'min-width: 1367px';

$max_desktop--small: 'max-width: 1440px';
$min_desktop--small: 'min-width: 1441px';

$max_desktop: 'max-width: 1600px';
$min_desktop: 'min-width: 1601px';

$max_fullhd: 'max-width: 1920px';
$min_fullhd: 'min-width: 1921px';

$max_big: 'max-width: 2047px';
$min_big: 'min-width: 2048px';

$max_high: 'max-width: 2559px';
$min_high: 'min-width: 2560px';

$landscape: 'orientation: landscape';
$portrait: 'orientation: portrait';

//easings
$lines_easing: cubic-bezier(0.74, 0, 0.36, 1.05);
$slider_easing: cubic-bezier(0.42, 0.05, 0, 1.07);
$moving_easing: cubic-bezier(0.19, 0.26, 0, 0.99);
$slow_easing: cubic-bezier(0.8, 0.29, 0, 0.99);