<div class="modal fade" id="contact_us_modal" tabindex="-1" role="dialog" aria-labelledby="contact_us_modal_label" aria-hidden="true">
  <button class="navbar-toggler active" type="button" data-dismiss="modal" tabindex="-1">
    <i></i><i></i><i></i>
  </button>
  <div class="modal-dialog container" role="document">
    <form id="contact_form" action="/mailer.php">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="section_title _splite" data-splitting>напишите нам</h3>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="тема запроса" tabindex="-1" id="subject" name="subject">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="ваше имя" tabindex="-1" id="name" name="name" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="ваша почта" tabindex="-1" id="email" name="email" required>
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" placeholder="расскажите о себе" tabindex="-1" id="message" name="message"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <p class="show-success">
          Сообщение успешно отправлено!
        </p>

        <div class="form-group hide-success">
          <button type="submit" class="btn btn-link" tabindex="-1">отправить сообщение</button>
        </div>
        <div class="form-group hide-success">
          <button type="button" class="btn btn-link btn-secondary" data-clear-form="#contact_form" tabindex="-1">очистить форму</button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>