<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/splitting.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>

<script src="/js/imagesloaded.min.js"></script>
<script src="/js/intersection-observer.js"></script>

<script src="/js/fullpage.min.js"></script>
<script src="/js/fullpage.resetSliders.min.js"></script>
<script src="/js/fullpage.dragAndMove.min.js"></script>
<script src="/js/fullpage.extensions.min.js"></script>

<script src="/js/parallax-moving.min.js"></script>
<script src="/main.js"></script>