<!doctype html>
<html lang="en" class="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
<%= require('html-loader?attrs=false!./partials/header.html') %>

<main class="main js-image-section" id="fullpage">
  <%= require('html-loader?attrs=false!./partials/sections/lead.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/contact_us.html') %>
  <!--<%= require('html-loader?attrs=false!./partials/sections/video.html') %>-->
  <%= require('html-loader?attrs=false!./partials/sections/about.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/bloggers.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/clients.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/cases.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/producing.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/what_we_can.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/advertisers.html') %>
</main>

<%= require('html-loader?attrs=false!./partials/footer.html') %>

<!--<div class="mouse__wrap">
  <div class="mouse"></div>
</div>-->
<%= require('html-loader?attrs=false!./partials/modal.html') %>
<%= require('html-loader?attrs=false!./../partials/scripts.html') %>
</body>
</html>

