<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
<%= require('html-loader?attrs=false!./partials/header.html') %>

<main class="main js-image-section" id="fullpage">
  <%= require('html-loader?attrs=false!./partials/sections/lead.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/contact_us.html') %>
  <!--<%= require('html-loader?attrs=false!./partials/sections/video.html') %>-->
  <%= require('html-loader?attrs=false!./partials/sections/about.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/bloggers.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/clients.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/cases.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/producing.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/what_we_can.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/advertisers.html') %>
</main>

<%= require('html-loader?attrs=false!./partials/footer.html') %>

<!--<div class="mouse__wrap">
  <div class="mouse"></div>
</div>-->
<%= require('html-loader?attrs=false!./partials/modal.html') %>
<%= require('html-loader?attrs=false!./partials/scripts.html') %>

<script>
  $.extend( $.validator.messages, {
    required: "Это поле необходимо заполнить.",
    remote: "Пожалуйста, введите правильное значение.",
    email: "Пожалуйста, введите корректный адрес электронной почты.",
    url: "Пожалуйста, введите корректный URL.",
    date: "Пожалуйста, введите корректную дату.",
    dateISO: "Пожалуйста, введите корректную дату в формате ISO.",
    number: "Пожалуйста, введите число.",
    digits: "Пожалуйста, вводите только цифры.",
    creditcard: "Пожалуйста, введите правильный номер кредитной карты.",
    equalTo: "Пожалуйста, введите такое же значение ещё раз.",
    extension: "Пожалуйста, выберите файл с правильным расширением.",
    maxlength: $.validator.format( "Пожалуйста, введите не больше {0} символов." ),
    minlength: $.validator.format( "Пожалуйста, введите не меньше {0} символов." ),
    rangelength: $.validator.format( "Пожалуйста, введите значение длиной от {0} до {1} символов." ),
    range: $.validator.format( "Пожалуйста, введите число от {0} до {1}." ),
    max: $.validator.format( "Пожалуйста, введите число, меньшее или равное {0}." ),
    min: $.validator.format( "Пожалуйста, введите число, большее или равное {0}." )
  } );
</script>
</body>
</html>

