<section class="section section--inverse section_bloggers" data-anchor="bloggers">
  <div class="section_bg d-lg-none" style="background-image: url(/images/mobile//bg-img-7.jpg)"></div>
  <div class="section_bg d-none d-lg-block" style="background-image: url(/images/backgrounds/bg-img-7.jpg)"></div>
  <div class="container">
    <div class="row align-items-start align-items-md-end">
      <div class="col-12">
        <h2 class="h1 section_title text-left _splite" data-splitting>
          For bloggers
        </h2>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <p>You need good income and strong, reliable partner – Blog&Top production company is there for you! We collaborate with both beginning and famous bloggers. We provide creative ideas for promotion and collaboration with leading brands, out-of-the-box solutions for any technical and legal issues in daily blogger activity. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>