<section class="section section_cases section--inverse" data-anchor="cases">
  <div class="section_bg">
    <div class="section_bg__animate">
      <svg width="1439px" height="520px" viewBox="0 0 1439 520" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Work" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.1">
          <g id="Desktop-1" transform="translate(0.000000, -5279.000000)" fill="#2B2B2B">
            <g id="Group-141" transform="translate(0.000000, 5279.000000)">
              <polygon class="bar" id="Fill-1" points="0 256.937653 12.4958678 256.937653 12.4958678 250.237488 0 250.237488"></polygon>
              <polygon class="bar" id="Fill-2" points="20.6717355 256.937653 33.1557025 256.937653 33.1557025 240.681124 20.6717355 240.681124"></polygon>
              <polygon class="bar" id="Fill-3" points="41.3315702 256.937653 53.827438 256.937653 53.827438 233.754843 41.3315702 233.754843"></polygon>
              <polygon class="bar" id="Fill-4" points="62.0033058 256.937653 74.5110744 256.937653 74.5110744 208.025256 62.0033058 208.025256"></polygon>
              <polygon class="bar" id="Fill-5" points="82.6750413 256.937653 95.1709091 256.937653 95.1709091 229.946579 82.6750413 229.946579"></polygon>
              <polygon class="bar" id="Fill-6" points="103.346777 256.937653 115.842645 256.937653 115.842645 199.825587 103.346777 199.825587"></polygon>
              <polygon class="bar" id="Fill-7" points="124.030413 256.937653 136.51438 256.937653 136.51438 173.965091 124.030413 173.965091"></polygon>
              <polygon class="bar" id="Fill-8" points="144.690248 256.937653 157.186116 256.937653 157.186116 130.776992 144.690248 130.776992"></polygon>
              <polygon class="bar" id="Fill-9" points="165.361983 256.937653 177.857851 256.937653 177.857851 210.560132 165.361983 210.560132"></polygon>
              <polygon class="bar" id="Fill-10" points="186.04562 256.937653 198.541488 256.937653 198.541488 187.889058 186.04562 187.889058"></polygon>
              <polygon class="bar" id="Fill-11" points="206.705455 256.937653 219.213223 256.937653 219.213223 197.397818 206.705455 197.397818"></polygon>
              <polygon class="bar" id="Fill-12" points="227.37719 256.937653 239.873058 256.937653 239.873058 123.422281 227.37719 123.422281"></polygon>
              <polygon class="bar" id="Fill-13" points="248.048926 256.937653 260.556694 256.937653 260.556694 70.3802975 248.048926 70.3802975"></polygon>
              <polygon class="bar" id="Fill-14" points="268.720661 256.937653 281.216529 256.937653 281.216529 213.678149 268.720661 213.678149"></polygon>
              <polygon class="bar" id="Fill-15" points="290.189752 256.937653 302.673719 256.937653 302.673719 125.266909 290.189752 125.266909"></polygon>
              <polygon class="bar" id="Fill-16" points="310.076033 256.937653 322.56 256.937653 322.56 187.889058 310.076033 187.889058"></polygon>
              <polygon class="bar" id="Fill-17" points="330.735868 256.592529 343.231736 256.592529 343.231736 218.640793 330.735868 218.640793"></polygon>
              <polygon class="bar" id="Fill-18" points="351.407603 256.937653 363.903471 256.937653 363.903471 249.928066 351.407603 249.928066"></polygon>
              <polygon class="bar" id="Fill-19" points="372.067438 256.937653 384.575207 256.937653 384.575207 225.983603 372.067438 225.983603"></polygon>
              <polygon class="bar" id="Fill-20" points="392.751074 256.937653 405.246942 256.937653 405.246942 195.053355 392.751074 195.053355"></polygon>
              <polygon class="bar" id="Fill-21" points="413.410909 256.937653 425.906777 256.937653 425.906777 118.995174 413.410909 118.995174"></polygon>
              <polygon class="bar" id="Fill-22" points="434.082645 256.937653 446.590413 256.937653 446.590413 164.182612 434.082645 164.182612"></polygon>
              <polygon class="bar" id="Fill-23" points="454.766281 256.937653 467.262149 256.937653 467.262149 218.319471 454.766281 218.319471"></polygon>
              <polygon class="bar" id="Fill-24" points="475.438017 256.937653 487.921983 256.937653 487.921983 204.443107 475.438017 204.443107"></polygon>
              <polygon class="bar" id="Fill-25" points="496.097851 256.937653 508.593719 256.937653 508.593719 192.220959 496.097851 192.220959"></polygon>
              <polygon class="bar" id="Fill-26" points="516.781488 256.937653 529.277355 256.937653 529.277355 224.579306 516.781488 224.579306"></polygon>
              <polygon class="bar" id="Fill-27" points="537.453223 256.937653 549.949091 256.937653 549.949091 207.870545 537.453223 207.870545"></polygon>
              <polygon class="bar" id="Fill-28" points="558.113058 256.937653 570.608926 256.937653 570.608926 186.103934 558.113058 186.103934"></polygon>
              <polygon class="bar" id="Fill-29" points="578.784793 256.937653 591.292562 256.937653 591.292562 113.496992 578.784793 113.496992"></polygon>
              <polygon class="bar" id="Fill-30" points="599.456529 256.937653 611.952397 256.937653 611.952397 70.5945124 599.456529 70.5945124"></polygon>
              <polygon class="bar" id="Fill-31" points="620.128264 256.937653 632.624132 256.937653 632.624132 0.0107107438 620.128264 0.0107107438"></polygon>
              <polygon class="bar" id="Fill-32" points="640.811901 256.937653 653.307769 256.937653 653.307769 55.7779835 640.811901 55.7779835"></polygon>
              <polygon class="bar" id="Fill-33" points="661.483636 256.937653 673.979504 256.937653 673.979504 140.476165 661.483636 140.476165"></polygon>
              <polygon class="bar" id="Fill-34" points="682.143471 256.937653 694.639339 256.937653 694.639339 183.200132 682.143471 183.200132"></polygon>
              <polygon class="bar" id="Fill-35" points="702.827107 256.937653 715.322975 256.937653 715.322975 115.651041 702.827107 115.651041"></polygon>
              <polygon class="bar" id="Fill-36" points="723.486942 256.937653 735.994711 256.937653 735.994711 152.829223 723.486942 152.829223"></polygon>
              <polygon class="bar" id="Fill-37" points="744.158678 256.937653 756.654545 256.937653 756.654545 194.446413 744.158678 194.446413"></polygon>
              <polygon class="bar" id="Fill-38" points="764.830413 256.937653 777.31438 256.937653 777.31438 237.991537 764.830413 237.991537"></polygon>
              <polygon class="bar" id="Fill-39" points="785.502149 256.937653 797.998017 256.937653 797.998017 215.701289 785.502149 215.701289"></polygon>
              <polygon class="bar" id="Fill-40" points="806.173884 256.937653 818.669752 256.937653 818.669752 250.463603 806.173884 250.463603"></polygon>
              <polygon class="bar" id="Fill-41" points="826.84562 256.937653 839.341488 256.937653 839.341488 220.104595 826.84562 220.104595"></polygon>
              <polygon class="bar" id="Fill-42" points="847.517355 256.937653 860.025124 256.937653 860.025124 198.326083 847.517355 198.326083"></polygon>
              <polygon class="bar" id="Fill-43" points="868.189091 256.937653 880.684959 256.937653 880.684959 230.613025 868.189091 230.613025"></polygon>
              <polygon class="bar" id="Fill-44" points="888.848926 256.937653 901.356694 256.937653 901.356694 180.43914 888.848926 180.43914"></polygon>
              <polygon class="bar" id="Fill-45" points="909.532562 256.937653 922.02843 256.937653 922.02843 155.387901 909.532562 155.387901"></polygon>
              <polygon class="bar" id="Fill-46" points="930.204298 256.937653 942.700165 256.937653 942.700165 210.929058 930.204298 210.929058"></polygon>
              <polygon class="bar" id="Fill-47" points="950.876033 256.937653 963.36 256.937653 963.36 249.928066 950.876033 249.928066"></polygon>
              <polygon class="bar" id="Fill-48" points="971.547769 256.937653 984.043636 256.937653 984.043636 221.663603 971.547769 221.663603"></polygon>
              <polygon class="bar" id="Fill-49" points="992.219504 256.937653 1004.71537 256.937653 1004.71537 237.098975 992.219504 237.098975"></polygon>
              <polygon class="bar" id="Fill-50" points="1012.87934 256.937653 1025.38711 256.937653 1025.38711 211.67881 1012.87934 211.67881"></polygon>
              <polygon class="bar" id="Fill-51" points="1033.56298 256.937653 1046.05884 256.937653 1046.05884 163.885091 1033.56298 163.885091"></polygon>
              <polygon class="bar" id="Fill-52" points="1054.22281 256.937653 1066.71868 256.937653 1066.71868 111.247736 1054.22281 111.247736"></polygon>
              <polygon class="bar" id="Fill-53" points="1074.89455 256.937653 1087.39041 256.937653 1087.39041 45.0315372 1074.89455 45.0315372"></polygon>
              <polygon class="bar" id="Fill-54" points="1095.56628 256.937653 1108.06215 256.937653 1108.06215 150.020628 1095.56628 150.020628"></polygon>
              <polygon class="bar" id="Fill-55" points="1116.24992 256.937653 1128.73388 256.937653 1128.73388 131.229223 1116.24992 131.229223"></polygon>
              <polygon class="bar" id="Fill-56" points="1136.92165 256.937653 1149.40562 256.937653 1149.40562 173.048727 1136.92165 173.048727"></polygon>
              <polygon class="bar" id="Fill-57" points="1157.58149 256.937653 1170.07736 256.937653 1170.07736 100.203769 1157.58149 100.203769"></polygon>
              <polygon class="bar" id="Fill-58" points="1178.25322 256.937653 1190.76099 256.937653 1190.76099 70.689719 1178.25322 70.689719"></polygon>
              <polygon class="bar" id="Fill-59" points="1198.92496 256.937653 1211.42083 256.937653 1211.42083 128.539636 1198.92496 128.539636"></polygon>
              <polygon class="bar" id="Fill-60" points="1219.58479 256.937653 1232.09256 256.937653 1232.09256 145.843438 1219.58479 145.843438"></polygon>
              <polygon class="bar" id="Fill-61" points="1240.28033 256.937653 1252.7643 256.937653 1252.7643 207.037488 1240.28033 207.037488"></polygon>
              <polygon class="bar" id="Fill-62" points="1260.94017 256.937653 1273.43603 256.937653 1273.43603 181.629223 1260.94017 181.629223"></polygon>
              <polygon class="bar" id="Fill-63" points="1281.6119 256.937653 1294.10777 256.937653 1294.10777 216.522446 1281.6119 216.522446"></polygon>
              <polygon class="bar" id="Fill-64" points="1302.29554 256.937653 1314.7914 256.937653 1314.7914 204.002777 1302.29554 204.002777"></polygon>
              <polygon class="bar" id="Fill-65" points="1322.95537 256.937653 1335.45124 256.937653 1335.45124 185.211372 1322.95537 185.211372"></polygon>
              <polygon class="bar" id="Fill-66" points="1343.62711 256.937653 1356.12298 256.937653 1356.12298 216.974678 1343.62711 216.974678"></polygon>
              <polygon class="bar" id="Fill-67" points="1364.29884 256.937653 1376.80661 256.937653 1376.80661 232.624264 1364.29884 232.624264"></polygon>
              <polygon class="bar" id="Fill-68" points="1384.97058 256.937653 1397.46645 256.937653 1397.46645 222.794182 1384.97058 222.794182"></polygon>
              <polygon class="bar" id="Fill-69" points="1405.64231 256.937653 1418.12628 256.937653 1418.12628 242.918479 1405.64231 242.918479"></polygon>
              <polygon class="bar" id="Fill-70" points="1426.30215 256.937653 1438.79802 256.937653 1438.79802 249.928066 1426.30215 249.928066"></polygon>
              <polygon class="bar" id="Fill-71" points="0 269.516826 12.4958678 269.516826 12.4958678 262.80476 0 262.80476"></polygon>
              <polygon class="bar" id="Fill-72" points="20.6717355 279.061289 33.1557025 279.061289 33.1557025 262.80476 20.6717355 262.80476"></polygon>
              <polygon class="bar" id="Fill-73" points="41.3315702 285.999471 53.827438 285.999471 53.827438 262.80476 41.3315702 262.80476"></polygon>
              <polygon class="bar" id="Fill-74" points="62.0033058 311.729058 74.5110744 311.729058 74.5110744 262.816661 62.0033058 262.816661"></polygon>
              <polygon class="bar" id="Fill-75" points="82.6750413 289.807736 95.1709091 289.807736 95.1709091 262.80476 82.6750413 262.80476"></polygon>
              <polygon class="bar" id="Fill-76" points="103.346777 319.928727 115.842645 319.928727 115.842645 262.80476 103.346777 262.80476"></polygon>
              <polygon class="bar" id="Fill-77" points="124.030413 345.789223 136.51438 345.789223 136.51438 262.80476 124.030413 262.80476"></polygon>
              <polygon class="bar" id="Fill-78" points="144.690248 388.965421 157.186116 388.965421 157.186116 262.80476 144.690248 262.80476"></polygon>
              <polygon class="bar" id="Fill-79" points="165.361983 309.194182 177.857851 309.194182 177.857851 262.816661 165.361983 262.816661"></polygon>
              <polygon class="bar" id="Fill-80" points="186.04562 331.853355 198.541488 331.853355 198.541488 262.80476 186.04562 262.80476"></polygon>
              <polygon class="bar" id="Fill-81" points="206.705455 322.344595 219.213223 322.344595 219.213223 262.80476 206.705455 262.80476"></polygon>
              <polygon class="bar" id="Fill-82" points="227.37719 396.332033 239.873058 396.332033 239.873058 262.80476 227.37719 262.80476"></polygon>
              <polygon class="bar" id="Fill-83" points="248.048926 449.362116 260.556694 449.362116 260.556694 262.80476 248.048926 262.80476"></polygon>
              <polygon class="bar" id="Fill-84" points="268.720661 306.064264 281.216529 306.064264 281.216529 262.80476 268.720661 262.80476"></polygon>
              <polygon class="bar" id="Fill-85" points="290.189752 394.487405 302.673719 394.487405 302.673719 262.816661 290.189752 262.816661"></polygon>
              <polygon class="bar" id="Fill-86" points="310.076033 331.853355 322.56 331.853355 322.56 262.80476 310.076033 262.80476"></polygon>
              <polygon class="bar" id="Fill-87" points="330.735868 301.10162 343.231736 301.10162 343.231736 263.149884 330.735868 263.149884"></polygon>
              <polygon class="bar" id="Fill-88" points="351.407603 269.826248 363.903471 269.826248 363.903471 262.80476 351.407603 262.80476"></polygon>
              <polygon class="bar" id="Fill-89" points="372.067438 293.75881 384.575207 293.75881 384.575207 262.80476 372.067438 262.80476"></polygon>
              <polygon class="bar" id="Fill-90" points="392.751074 324.689058 405.246942 324.689058 405.246942 262.80476 392.751074 262.80476"></polygon>
              <polygon class="bar" id="Fill-91" points="413.410909 400.74724 425.906777 400.74724 425.906777 262.80476 413.410909 262.80476"></polygon>
              <polygon class="bar" id="Fill-92" points="434.082645 355.559802 446.590413 355.559802 446.590413 262.80476 434.082645 262.80476"></polygon>
              <polygon class="bar" id="Fill-93" points="454.766281 301.434843 467.262149 301.434843 467.262149 262.80476 454.766281 262.80476"></polygon>
              <polygon class="bar" id="Fill-94" points="475.438017 315.299306 487.921983 315.299306 487.921983 262.80476 475.438017 262.80476"></polygon>
              <polygon class="bar" id="Fill-95" points="496.097851 327.533355 508.593719 327.533355 508.593719 262.816661 496.097851 262.816661"></polygon>
              <polygon class="bar" id="Fill-96" points="516.781488 295.175008 529.277355 295.175008 529.277355 262.80476 516.781488 262.80476"></polygon>
              <polygon class="bar" id="Fill-97" points="537.453223 311.871868 549.949091 311.871868 549.949091 262.80476 537.453223 262.80476"></polygon>
              <polygon class="bar" id="Fill-98" points="558.113058 333.638479 570.608926 333.638479 570.608926 262.80476 558.113058 262.80476"></polygon>
              <polygon class="bar" id="Fill-99" points="578.784793 406.257322 591.292562 406.257322 591.292562 262.80476 578.784793 262.80476"></polygon>
              <polygon class="bar" id="Fill-100" points="599.456529 449.147901 611.952397 449.147901 611.952397 262.80476 599.456529 262.80476"></polygon>
              <polygon class="bar" id="Fill-101" points="620.128264 519.743603 632.624132 519.743603 632.624132 262.80476 620.128264 262.80476"></polygon>
              <polygon class="bar" id="Fill-102" points="640.811901 463.96443 653.307769 463.96443 653.307769 262.80476 640.811901 262.80476"></polygon>
              <polygon class="bar" id="Fill-103" points="661.483636 379.278149 673.979504 379.278149 673.979504 262.80476 661.483636 262.80476"></polygon>
              <polygon class="bar" id="Fill-104" points="682.143471 336.542281 694.639339 336.542281 694.639339 262.80476 682.143471 262.80476"></polygon>
              <polygon class="bar" id="Fill-105" points="702.827107 404.091372 715.322975 404.091372 715.322975 262.80476 702.827107 262.80476"></polygon>
              <polygon class="bar" id="Fill-106" points="723.486942 366.91319 735.994711 366.91319 735.994711 262.80476 723.486942 262.80476"></polygon>
              <polygon class="bar" id="Fill-107" points="744.158678 325.296 756.654545 325.296 756.654545 262.80476 744.158678 262.80476"></polygon>
              <polygon class="bar" id="Fill-108" points="764.830413 281.750876 777.31438 281.750876 777.31438 262.80476 764.830413 262.80476"></polygon>
              <polygon class="bar" id="Fill-109" points="785.502149 304.041124 797.998017 304.041124 797.998017 262.80476 785.502149 262.80476"></polygon>
              <polygon class="bar" id="Fill-110" points="806.173884 269.302612 818.669752 269.302612 818.669752 262.80476 806.173884 262.80476"></polygon>
              <polygon class="bar" id="Fill-111" points="826.84562 299.649719 839.341488 299.649719 839.341488 262.80476 826.84562 262.80476"></polygon>
              <polygon class="bar" id="Fill-112" points="847.517355 321.416331 860.025124 321.416331 860.025124 262.80476 847.517355 262.80476"></polygon>
              <polygon class="bar" id="Fill-113" points="868.189091 289.129388 880.684959 289.129388 880.684959 262.80476 868.189091 262.80476"></polygon>
              <polygon class="bar" id="Fill-114" points="888.848926 339.315174 901.356694 339.315174 901.356694 262.80476 888.848926 262.80476"></polygon>
              <polygon class="bar" id="Fill-115" points="909.532562 364.354512 922.02843 364.354512 922.02843 262.80476 909.532562 262.80476"></polygon>
              <polygon class="bar" id="Fill-116" points="930.204298 308.813355 942.700165 308.813355 942.700165 262.80476 930.204298 262.80476"></polygon>
              <polygon class="bar" id="Fill-117" points="950.876033 269.826248 963.36 269.826248 963.36 262.80476 950.876033 262.80476"></polygon>
              <polygon class="bar" id="Fill-118" points="971.547769 298.07881 984.043636 298.07881 984.043636 262.80476 971.547769 262.80476"></polygon>
              <polygon class="bar" id="Fill-119" points="992.219504 282.643438 1004.71537 282.643438 1004.71537 262.80476 992.219504 262.80476"></polygon>
              <polygon class="bar" id="Fill-120" points="1012.87934 308.075504 1025.38711 308.075504 1025.38711 262.80476 1012.87934 262.80476"></polygon>
              <polygon class="bar" id="Fill-121" points="1033.56298 355.857322 1046.05884 355.857322 1046.05884 262.80476 1033.56298 262.80476"></polygon>
              <polygon class="bar" id="Fill-122" points="1054.22281 408.506579 1066.71868 408.506579 1066.71868 262.80476 1054.22281 262.80476"></polygon>
              <polygon class="bar" id="Fill-123" points="1074.89455 474.710876 1087.39041 474.710876 1087.39041 262.80476 1074.89455 262.80476"></polygon>
              <polygon class="bar" id="Fill-124" points="1095.56628 369.733686 1108.06215 369.733686 1108.06215 262.816661 1095.56628 262.816661"></polygon>
              <polygon class="bar" id="Fill-125" points="1116.24992 388.525091 1128.73388 388.525091 1128.73388 262.816661 1116.24992 262.816661"></polygon>
              <polygon class="bar" id="Fill-126" points="1136.92165 346.693686 1149.40562 346.693686 1149.40562 262.80476 1136.92165 262.80476"></polygon>
              <polygon class="bar" id="Fill-127" points="1157.58149 419.538645 1170.07736 419.538645 1170.07736 262.80476 1157.58149 262.80476"></polygon>
              <polygon class="bar" id="Fill-128" points="1178.25322 449.076496 1190.76099 449.076496 1190.76099 262.816661 1178.25322 262.816661"></polygon>
              <polygon class="bar" id="Fill-129" points="1198.92496 391.202777 1211.42083 391.202777 1211.42083 262.80476 1198.92496 262.80476"></polygon>
              <polygon class="bar" id="Fill-130" points="1219.58479 373.910876 1232.09256 373.910876 1232.09256 262.80476 1219.58479 262.80476"></polygon>
              <polygon class="bar" id="Fill-131" points="1240.28033 312.716826 1252.7643 312.716826 1252.7643 262.80476 1240.28033 262.80476"></polygon>
              <polygon class="bar" id="Fill-132" points="1260.94017 338.11319 1273.43603 338.11319 1273.43603 262.80476 1260.94017 262.80476"></polygon>
              <polygon class="bar" id="Fill-133" points="1281.6119 303.231868 1294.10777 303.231868 1294.10777 262.816661 1281.6119 262.816661"></polygon>
              <polygon class="bar" id="Fill-134" points="1302.29554 315.739636 1314.7914 315.739636 1314.7914 262.80476 1302.29554 262.80476"></polygon>
              <polygon class="bar" id="Fill-135" points="1322.95537 334.531041 1335.45124 334.531041 1335.45124 262.80476 1322.95537 262.80476"></polygon>
              <polygon class="bar" id="Fill-136" points="1343.62711 302.779636 1356.12298 302.779636 1356.12298 262.816661 1343.62711 262.816661"></polygon>
              <polygon class="bar" id="Fill-137" points="1364.29884 287.118149 1376.80661 287.118149 1376.80661 262.80476 1364.29884 262.80476"></polygon>
              <polygon class="bar" id="Fill-138" points="1384.97058 296.960132 1397.46645 296.960132 1397.46645 262.80476 1384.97058 262.80476"></polygon>
              <polygon class="bar" id="Fill-139" points="1405.64231 276.835835 1418.12628 276.835835 1418.12628 262.80476 1405.64231 262.80476"></polygon>
              <polygon class="bar" id="Fill-140" points="1426.30215 269.826248 1438.79802 269.826248 1438.79802 262.80476 1426.30215 262.80476"></polygon>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="slider_counter">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-auto">
          <div class="slider_counter__group">
            <span class="slider_counter__current">01</span>
            /<span class="slider_counter__total">2</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="h1 section_title text-center _splite" data-splitting>
      Cases
    </h2>
  </div>
  <div class="slides">
    <div class="slide section__slide">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="row justify-content-between">
              <div class="col-8 col-md-6">
                <div class="section_img section_img--1">
                    <img src="/images/cases/yandex.png" alt="cases" class="img-fluid">
                </div>
              </div>
              <div class="col-8 offset-4 col-md-6 offset-md-0">
                <div class="section_img section_img--2">
                    <img src="/images/cases/beru.png" alt="cases" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide section__slide">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="row justify-content-between flex-md-row-reverse">
              <div class="col-8 col-md-6">
                <div class="section_img section_img--1">
                  <img src="/images/cases/like.png" alt="cases" class="img-fluid">
                </div>
              </div>
              <div class="col-8 offset-4 col-md-6 offset-md-0">
                <div class="section_img section_img--2">
                  <img src="/images/cases/epson.png" alt="cases" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="drag_handler">
    <svg width="84" height="64" viewBox="0 0 84 64" xmlns="http://www.w3.org/2000/svg"><g fill="#000" fill-rule="evenodd"><path d="M10.944.007a1.487 1.487 0 011.26 1.033 1.494 1.494 0 01-.49 1.557L4.355 8.753l7.357 6.134c.587.487.679 1.467.193 2.055-.486.59-1.462.681-2.049.193L1.164 9.866c-.66-.543-.66-1.705 0-2.249L9.857.347c.297-.253.699-.38 1.087-.34zM29.755 7.3c.76.035 1.417.76 1.382 1.521-.036.762-.759 1.422-1.517 1.386H23.1c-.765.01-1.47-.686-1.47-1.454 0-.768.705-1.465 1.47-1.454h6.655zM18.165 7.3c.759.035 1.417.76 1.381 1.521-.035.762-.758 1.422-1.517 1.386H16.58c-.765.01-1.47-.686-1.47-1.454 0-.768.705-1.465 1.47-1.454h1.45a1.41 1.41 0 01.135 0z"/><path d="M11.645 7.3c.76.035 1.417.76 1.382 1.521-.036.762-.759 1.422-1.517 1.386h-1.45c-.765.01-1.469-.686-1.469-1.454 0-.768.704-1.465 1.47-1.454h1.449a1.41 1.41 0 01.135 0z"/><path d="M73.056.007a1.487 1.487 0 00-1.26 1.033 1.494 1.494 0 00.49 1.557l7.358 6.156-7.357 6.134c-.587.487-.679 1.467-.193 2.055.486.59 1.462.681 2.049.193l8.693-7.269c.66-.543.66-1.705 0-2.249L74.143.347a1.464 1.464 0 00-1.087-.34zm-30.968 2.93c-1.527 0-2.888.553-3.78 1.523-.892.97-1.29 2.266-1.29 3.566 0 8.947-.02 17.64-.023 26.488-1.045-1.796-2.035-3.672-3.101-5.43-.954-1.637-2.373-2.634-3.849-2.885-1.475-.25-2.911.195-4.03 1-.192.114-.36.297-.506.426-1.053 1.04-1.512 2.405-1.553 3.64a6.767 6.767 0 00.883 3.59c4.835 8.363 8.635 17.598 13.175 24.92 1.068 1.434 1.615 2.244 2.218 2.907.603.664 1.463 1.108 2.286 1.273.097.025.195.04.295.045h19.536c.235-.041.495-.074.705-.102 1.621-.315 2.945-1.428 3.98-2.783 1.165-1.523 2.056-3.424 2.808-5.452 1.503-4.057 2.369-8.55 2.648-11.132V34.195c0-1.53-.722-2.994-1.833-4.248-1.111-1.253-2.732-2.294-4.686-2.294-.963 0-1.818.255-2.558.568-.46-1.248-1.262-2.188-2.15-2.68-1.397-.775-2.767-.791-3.238-.796-1.37-.02-2.433.337-3.305.863a4.579 4.579 0 00-.928-1.522c-.89-.941-2.188-1.443-3.667-1.522h-.023c-.8-.04-1.55.159-2.241.477l.022-15.015c.002-2.64-2.157-5.089-5.093-5.089h-.702zm0 2.908h.702c1.293 0 2.197 1.16 2.196 2.181l-.023 18.9c-.001.128.042.32.06.452.189.61.802 1.084 1.446 1.06.758-.03 1.422-.75 1.392-1.512v-.136c.244-.522.465-.734.89-.996.394-.233.839-.308 1.215-.321.94.046 1.437.289 1.743.613.306.324.493.81.498 1.567v1.454c.001.655.499 1.276 1.136 1.418.638.141 1.35-.21 1.626-.804.344-.738.629-1.247.973-1.545.345-.298.81-.541 2.038-.523h.022c.275.003 1.202.069 1.857.432.654.363 1.143.752 1.041 2.385-.048.61.333 1.23.898 1.462.565.23 1.27.053 1.66-.417.236-.241.583-.385.838-.522.535-.25 1.208-.432 1.675-.432.898 0 1.803.517 2.513 1.318.71.8 1.109 1.887 1.109 2.317v10.018c-.25 2.3-1.088 6.703-2.468 10.427-.69 1.862-1.517 3.57-2.4 4.725-.881 1.154-1.71 1.678-2.467 1.726H43.04c-.425-.08-.373-.027-.679-.363-.315-.347-.917-1.226-1.947-2.613-4.939-8.141-9.148-17.011-13.04-24.67-.277-.464-.545-1.318-.52-2.067.025-.727.235-1.326.838-1.817a2.83 2.83 0 011.856-.478c.62.105 1.257.425 1.856 1.454l5.773 10.177a1.49 1.49 0 001.63.704 1.497 1.497 0 001.086-1.408c0-10.804.023-21.178.023-31.985 0-.713.204-1.246.52-1.59.318-.344.774-.59 1.653-.59zM54.245 7.3c-.76.036-1.417.76-1.382 1.522.036.762.759 1.422 1.517 1.386h6.52c.765.01 1.47-.686 1.47-1.454 0-.768-.705-1.465-1.47-1.454h-6.655zm11.59 0c-.759.036-1.417.76-1.381 1.522.035.762.758 1.422 1.517 1.386h1.449c.765.01 1.47-.686 1.47-1.454 0-.768-.705-1.465-1.47-1.454h-1.45a1.41 1.41 0 00-.135 0zm6.52 0c-.76.036-1.417.76-1.382 1.522.036.762.759 1.422 1.517 1.386h1.45c.765.01 1.469-.686 1.469-1.454 0-.768-.704-1.465-1.47-1.454H72.49a1.41 1.41 0 00-.135 0z" fill-rule="nonzero"/></g></svg>
  </div>
</section>