<section class="section section_clients" data-anchor="clients">
  <div class="container">
    <div class="row align-items-start align-items-md-center">
      <div class="col-12">
        <h2 class="h1 section_title text-center _splite" data-splitting>
          Clients
        </h2>
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <img data-src="/images/partners-img.png" alt="parnters" class="img-fluid d-none d-md-inline-block">
            <img data-src="/images/mobile/partners-img.png" alt="parnters" class="img-fluid d-md-none">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>