<section class="section section_contact fp-auto-height" data-anchor="contact">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-md-8">
        <p class="lead">
          You can be Sure that we know how to Listen.
          So why don’t we talk to each other?
        </p>
        <div class="hint">Write to us! <a href="mailto:ask@blogandtop.ru" tabindex="-1">ask@blogandtop.ru</a> </div>
        <button class="btn btn-link btn_contact" type="button" tabindex="-1" data-toggle="modal" data-target="#contact_us_modal">Send us an email</button>
      </div>
    </div>

    <div class="arrow arrow--left"></div>
  </div>
</section>