<section class="section section_slides section_lead slide_interactive" data-anchor="home">
  <div class="slider_counter">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-auto"></div>
        <div class="col-auto">
          <div class="slider_counter__group">
            <span class="slider_counter__current">01</span>
            /<span class="slider_counter__total">4</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slides">
    <div class="slide section__slide">
      <div class="section_bg d-lg-none" style="background-image: url(/images/mobile//bg-img-1.jpg)"></div>
      <div class="section_bg d-none d-lg-block" data-depth="0.1" style="background-image: url(/images/backgrounds/bg-img-1.jpg)"></div>
      <div class="container">
        <div class="row align-items-start align-items-sm-center align-items-lg-end">
          <div class="col-12">
            <h2 class="h1 section_title text-left text-md-center _splite" data-splitting>
              Creativity
            </h2>
            <div class="row justify-content-between align-items-center">
              <div class="col-md-5">
                <p class="lead">We provide Production and&nbsp;complex Blogger Protection services</p>
              </div>
              <div class="col-md-6 col-lg-4">
                <p class="text-small">Under our belt we have thousands of recorded videos, millions of subscribers, billions of views, thousands of grateful and protected clients in all spheres of online and offline business in Russia and abroad.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide section__slide">
      <div class="section_bg" data-depth="0.1" style="background-image: url(/images/backgrounds/bg-img-2.jpg)"></div>
      <div class="container">
        <div class="row align-items-start align-items-sm-center align-items-lg-end">
          <div class="col-12">
            <h2 class="h1 section_title text-left text-md-center _splite" data-splitting>
              Production
            </h2>
            <div class="row justify-content-between align-items-center">
              <div class="col-md-5">
                <p class="lead">We provide Production and&nbsp;complex Blogger Protection services</p>
              </div>
              <div class="col-md-6 col-lg-4">
                <p class="text-small">Under our belt we have thousands of recorded videos, millions of subscribers, billions of views, thousands of grateful and protected clients in all spheres of online and offline business in Russia and abroad.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide section__slide">
      <div class="section_bg" data-depth="0.1" style="background-image: url(/images/backgrounds/bg-img-3.jpg)"></div>
      <div class="container">
        <div class="row align-items-start align-items-sm-center align-items-lg-end">
          <div class="col-12">
            <h2 class="h1 section_title text-left text-md-center _splite" data-splitting>
              Blogging
            </h2>
            <div class="row align-items-center justify-content-between">
              <div class="col-md-5">
                <p class="lead">We provide Production and&nbsp;complex Blogger Protection services</p>
              </div>
              <div class="col-md-6 col-lg-4">
                <p class="text-small">Under our belt we have thousands of recorded videos, millions of subscribers, billions of views, thousands of grateful and protected clients in all spheres of online and offline business in Russia and abroad.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide section__slide">
      <div class="section_bg" data-depth="0.1" style="background-image: url(/images/backgrounds/bg-img-4.jpg)"></div>
      <div class="container">
        <div class="row align-items-start align-items-sm-center align-items-lg-end">
          <div class="col-12">
            <div>
              <div class="scene_inner">
                <h2 class="h1 section_title text-left text-md-center _splite" data-splitting>Creative work</h2>
              </div>
            </div>
            <div class="row align-items-center justify-content-between">
              <div class="col-md-5">
                <p class="lead">We provide Production and&nbsp;complex Blogger Protection services</p>
              </div>
              <div class="col-md-6 col-lg-4">
                <p class="text-small">Under our belt we have thousands of recorded videos, millions of subscribers, billions of views, thousands of grateful and protected clients in all spheres of online and offline business in Russia and abroad.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="drag_handler">
    <svg width="84" height="64" viewBox="0 0 84 64" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="evenodd"><path d="M10.944.007a1.487 1.487 0 011.26 1.033 1.494 1.494 0 01-.49 1.557L4.355 8.753l7.357 6.134c.587.487.679 1.467.193 2.055-.486.59-1.462.681-2.049.193L1.164 9.866c-.66-.543-.66-1.705 0-2.249L9.857.347c.297-.253.699-.38 1.087-.34zM29.755 7.3c.76.035 1.417.76 1.382 1.521-.036.762-.759 1.422-1.517 1.386H23.1c-.765.01-1.47-.686-1.47-1.454 0-.768.705-1.465 1.47-1.454h6.655zM18.165 7.3c.759.035 1.417.76 1.381 1.521-.035.762-.758 1.422-1.517 1.386H16.58c-.765.01-1.47-.686-1.47-1.454 0-.768.705-1.465 1.47-1.454h1.45a1.41 1.41 0 01.135 0z"/><path d="M11.645 7.3c.76.035 1.417.76 1.382 1.521-.036.762-.759 1.422-1.517 1.386h-1.45c-.765.01-1.469-.686-1.469-1.454 0-.768.704-1.465 1.47-1.454h1.449a1.41 1.41 0 01.135 0z"/><path d="M73.056.007a1.487 1.487 0 00-1.26 1.033 1.494 1.494 0 00.49 1.557l7.358 6.156-7.357 6.134c-.587.487-.679 1.467-.193 2.055.486.59 1.462.681 2.049.193l8.693-7.269c.66-.543.66-1.705 0-2.249L74.143.347a1.464 1.464 0 00-1.087-.34zm-30.968 2.93c-1.527 0-2.888.553-3.78 1.523-.892.97-1.29 2.266-1.29 3.566 0 8.947-.02 17.64-.023 26.488-1.045-1.796-2.035-3.672-3.101-5.43-.954-1.637-2.373-2.634-3.849-2.885-1.475-.25-2.911.195-4.03 1-.192.114-.36.297-.506.426-1.053 1.04-1.512 2.405-1.553 3.64a6.767 6.767 0 00.883 3.59c4.835 8.363 8.635 17.598 13.175 24.92 1.068 1.434 1.615 2.244 2.218 2.907.603.664 1.463 1.108 2.286 1.273.097.025.195.04.295.045h19.536c.235-.041.495-.074.705-.102 1.621-.315 2.945-1.428 3.98-2.783 1.165-1.523 2.056-3.424 2.808-5.452 1.503-4.057 2.369-8.55 2.648-11.132V34.195c0-1.53-.722-2.994-1.833-4.248-1.111-1.253-2.732-2.294-4.686-2.294-.963 0-1.818.255-2.558.568-.46-1.248-1.262-2.188-2.15-2.68-1.397-.775-2.767-.791-3.238-.796-1.37-.02-2.433.337-3.305.863a4.579 4.579 0 00-.928-1.522c-.89-.941-2.188-1.443-3.667-1.522h-.023c-.8-.04-1.55.159-2.241.477l.022-15.015c.002-2.64-2.157-5.089-5.093-5.089h-.702zm0 2.908h.702c1.293 0 2.197 1.16 2.196 2.181l-.023 18.9c-.001.128.042.32.06.452.189.61.802 1.084 1.446 1.06.758-.03 1.422-.75 1.392-1.512v-.136c.244-.522.465-.734.89-.996.394-.233.839-.308 1.215-.321.94.046 1.437.289 1.743.613.306.324.493.81.498 1.567v1.454c.001.655.499 1.276 1.136 1.418.638.141 1.35-.21 1.626-.804.344-.738.629-1.247.973-1.545.345-.298.81-.541 2.038-.523h.022c.275.003 1.202.069 1.857.432.654.363 1.143.752 1.041 2.385-.048.61.333 1.23.898 1.462.565.23 1.27.053 1.66-.417.236-.241.583-.385.838-.522.535-.25 1.208-.432 1.675-.432.898 0 1.803.517 2.513 1.318.71.8 1.109 1.887 1.109 2.317v10.018c-.25 2.3-1.088 6.703-2.468 10.427-.69 1.862-1.517 3.57-2.4 4.725-.881 1.154-1.71 1.678-2.467 1.726H43.04c-.425-.08-.373-.027-.679-.363-.315-.347-.917-1.226-1.947-2.613-4.939-8.141-9.148-17.011-13.04-24.67-.277-.464-.545-1.318-.52-2.067.025-.727.235-1.326.838-1.817a2.83 2.83 0 011.856-.478c.62.105 1.257.425 1.856 1.454l5.773 10.177a1.49 1.49 0 001.63.704 1.497 1.497 0 001.086-1.408c0-10.804.023-21.178.023-31.985 0-.713.204-1.246.52-1.59.318-.344.774-.59 1.653-.59zM54.245 7.3c-.76.036-1.417.76-1.382 1.522.036.762.759 1.422 1.517 1.386h6.52c.765.01 1.47-.686 1.47-1.454 0-.768-.705-1.465-1.47-1.454h-6.655zm11.59 0c-.759.036-1.417.76-1.381 1.522.035.762.758 1.422 1.517 1.386h1.449c.765.01 1.47-.686 1.47-1.454 0-.768-.705-1.465-1.47-1.454h-1.45a1.41 1.41 0 00-.135 0zm6.52 0c-.76.036-1.417.76-1.382 1.522.036.762.759 1.422 1.517 1.386h1.45c.765.01 1.469-.686 1.469-1.454 0-.768-.704-1.465-1.47-1.454H72.49a1.41 1.41 0 00-.135 0z" fill-rule="nonzero"/></g></svg>
  </div>
</section>