<section class="section section_video" data-anchor="video">
  <div class="section_bg" style="background-image: url(/images/backgrounds/bg-img-5.jpg)"></div>
  <div class="container">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-md-7">
        <h2>Place for video</h2>
      </div>
    </div>
  </div>
</section>